<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Info_01_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1084,568}</string>
                <key>spriteSourceSize</key>
                <string>{1084,568}</string>
                <key>textureRect</key>
                <string>{{0,0},{1084,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Info_02_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1084,568}</string>
                <key>spriteSourceSize</key>
                <string>{1084,568}</string>
                <key>textureRect</key>
                <string>{{0,568},{1084,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Info_03_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1084,568}</string>
                <key>spriteSourceSize</key>
                <string>{1084,568}</string>
                <key>textureRect</key>
                <string>{{0,1136},{1084,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Info.png</string>
            <key>size</key>
            <string>{1084,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2f7a9496fc599c2884612090dd2e52:5ea67d757aab31b5d5b26f842996c80c:0b588a30909c0a8cf5056943386373d6$</string>
            <key>textureFileName</key>
            <string>Info.png</string>
        </dict>
    </dict>
</plist>
