<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>vn/anniu_caijingyu_huangse.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{241,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,85}</string>
			</dict>
			<key>vn/anniu_caijingyu_lanse.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,0},{241,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,85}</string>
			</dict>
			<key>vn/anniu_teshuyu_huangse.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,0},{241,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,85}</string>
			</dict>
			<key>vn/anniu_teshuyu_lanse.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,0},{241,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,85}</string>
			</dict>
			<key>vn/anniu_yibanyu_huangse.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{241,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,85}</string>
			</dict>
			<key>vn/anniu_yibanyu_lanse.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,85},{241,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,85}</string>
			</dict>
			<key>vn/boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,170},{104,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,113}</string>
			</dict>
			<key>vn/genghuanpaotai_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,85},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,142},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,293},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,199},{303,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,57}</string>
			</dict>
			<key>vn/genghuanpaotai_zhuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,85},{215,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,95}</string>
			</dict>
			<key>vn/hw.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,180},{104,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish2_ui_vn.png</string>
			<key>realTextureFileName</key>
			<string>fish2_ui_vn.png</string>
			<key>size</key>
			<string>{1000,350}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1000</integer>
			<key>height</key>
			<integer>350</integer>
		</dict>
	</dict>
</plist>