<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PhoenixHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,120}</string>
                <key>spriteSourceSize</key>
                <string>{145,120}</string>
                <key>textureRect</key>
                <string>{{1,839},{145,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{344,921},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{14,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{407,941},{14,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buyu_fenghuang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{318,921},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{368,921},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{404,873},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{380,839},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{380,873},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{428,839},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{392,907},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,34}</string>
                <key>textureRect</key>
                <string>{{404,839},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,34}</string>
                <key>textureRect</key>
                <string>{{380,907},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyu_fenghuang_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{392,941},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_pingyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{839,836}</string>
                <key>spriteSourceSize</key>
                <string>{877,836}</string>
                <key>textureRect</key>
                <string>{{1,1},{839,836}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storm_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{60,80}</string>
                <key>textureRect</key>
                <string>{{318,839},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_fenghuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,117}</string>
                <key>spriteSourceSize</key>
                <string>{168,117}</string>
                <key>textureRect</key>
                <string>{{148,839},{168,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phoenix_ui.png</string>
            <key>size</key>
            <string>{841,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4196789e980cd8a19454cec665d262:f7864b255c03ba7d56fcf4b3296bb230:ce65bd4b27755c9d611219445b367e5b$</string>
            <key>textureFileName</key>
            <string>phoenix_ui.png</string>
        </dict>
    </dict>
</plist>
