<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_extra_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,57}</string>
                <key>spriteSourceSize</key>
                <string>{514,57}</string>
                <key>textureRect</key>
                <string>{{0,129},{514,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_you_win_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,72}</string>
                <key>spriteSourceSize</key>
                <string>{318,72}</string>
                <key>textureRect</key>
                <string>{{514,129},{318,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>all_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,28}</string>
                <key>spriteSourceSize</key>
                <string>{59,28}</string>
                <key>textureRect</key>
                <string>{{224,0},{59,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>all_page_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,34}</string>
                <key>spriteSourceSize</key>
                <string>{430,34}</string>
                <key>textureRect</key>
                <string>{{0,34},{430,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>and_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,27}</string>
                <key>spriteSourceSize</key>
                <string>{59,27}</string>
                <key>textureRect</key>
                <string>{{165,0},{59,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>are_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,22}</string>
                <key>spriteSourceSize</key>
                <string>{53,22}</string>
                <key>textureRect</key>
                <string>{{112,0},{53,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_game_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,20}</string>
                <key>spriteSourceSize</key>
                <string>{112,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_start_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,38}</string>
                <key>spriteSourceSize</key>
                <string>{156,38}</string>
                <key>textureRect</key>
                <string>{{495,34},{156,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_fever_text_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,34}</string>
                <key>spriteSourceSize</key>
                <string>{340,34}</string>
                <key>textureRect</key>
                <string>{{283,0},{340,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tip_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,107}</string>
                <key>spriteSourceSize</key>
                <string>{152,107}</string>
                <key>textureRect</key>
                <string>{{392,303},{152,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_page_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,112}</string>
                <key>spriteSourceSize</key>
                <string>{391,112}</string>
                <key>textureRect</key>
                <string>{{544,303},{391,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_congratulation_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,146}</string>
                <key>spriteSourceSize</key>
                <string>{703,146}</string>
                <key>textureRect</key>
                <string>{{0,415},{703,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_free_game_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,102}</string>
                <key>spriteSourceSize</key>
                <string>{392,102}</string>
                <key>textureRect</key>
                <string>{{555,201},{392,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_free_up_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,102}</string>
                <key>spriteSourceSize</key>
                <string>{392,102}</string>
                <key>textureRect</key>
                <string>{{0,303},{392,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_ok_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{430,34},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_you_win_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,45}</string>
                <key>spriteSourceSize</key>
                <string>{192,45}</string>
                <key>textureRect</key>
                <string>{{651,34},{192,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total_win_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,98}</string>
                <key>spriteSourceSize</key>
                <string>{555,98}</string>
                <key>textureRect</key>
                <string>{{0,201},{555,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trade_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,47}</string>
                <key>spriteSourceSize</key>
                <string>{213,47}</string>
                <key>textureRect</key>
                <string>{{0,79},{213,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>well_done_EN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,50}</string>
                <key>spriteSourceSize</key>
                <string>{342,50}</string>
                <key>textureRect</key>
                <string>{{213,79},{342,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lang_EN.png</string>
            <key>size</key>
            <string>{947,561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6396c82c56b06dfaa4e1765e44a9b4be:c60e0015d2c8d15185d3fa26d7c8ce6a:ed436bac7d89bc06ee92d3f650f7008f$</string>
            <key>textureFileName</key>
            <string>lang_EN.png</string>
        </dict>
    </dict>
</plist>
