<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CarbBall (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{166,176}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{311,179},{166,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{160,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,187},{160,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{163,187},{146,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{172,184}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{479,179},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{168,156}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{507,355},{168,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{168,162}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{981,173},{168,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{146,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{973,1},{146,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{150,158}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1167,325},{150,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1,367},{144,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{162,164}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{843,345},{162,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,10}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{817,173},{170,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-9}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1167,161},{162,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{160,142}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{169,367},{160,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1167,1},{154,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{152,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{819,1},{152,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{649,1},{170,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{175,1},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{174,146}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{501,1},{174,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{174,154}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{331,357},{174,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{651,173},{170,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CarbBall (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{677,345},{164,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{158,168}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1007,343},{158,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CarbBall (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{150,176}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{349,1},{150,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CarbBall_0.png</string>
            <key>size</key>
            <string>{1322,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d324b02659238f226e98a424b2869d3:11bc3e410ee0b1aa1dfb801b59cb55fe:04aa090d49a04aa51fb69c8c56a9eb04$</string>
            <key>textureFileName</key>
            <string>CarbBall_0.png</string>
        </dict>
    </dict>
</plist>
