<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>awakenkingtaco_into (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{8,69}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{262,2230},{8,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,-32}</string>
                <key>spriteSize</key>
                <string>{220,259}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,2017},{220,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,-39}</string>
                <key>spriteSize</key>
                <string>{250,251}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3006,1715},{250,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{131,-45}</string>
                <key>spriteSize</key>
                <string>{276,245}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1107,1961},{276,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{144,-52}</string>
                <key>spriteSize</key>
                <string>{302,237}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{701,2001},{302,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-58}</string>
                <key>spriteSize</key>
                <string>{326,231}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3356,1852},{326,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{166,-65}</string>
                <key>spriteSize</key>
                <string>{346,223}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3272,1627},{346,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{176,-69}</string>
                <key>spriteSize</key>
                <string>{366,223}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{333,2015},{366,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-70}</string>
                <key>spriteSize</key>
                <string>{384,227}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3272,993},{384,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,-71}</string>
                <key>spriteSize</key>
                <string>{398,233}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3272,758},{398,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{198,-71}</string>
                <key>spriteSize</key>
                <string>{412,239}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2930,436},{412,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{20,129}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{637,1479},{20,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-72}</string>
                <key>spriteSize</key>
                <string>{424,243}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2001,1815},{424,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{209,-73}</string>
                <key>spriteSize</key>
                <string>{434,247}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2598,1},{434,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,-75}</string>
                <key>spriteSize</key>
                <string>{442,249}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1955,449},{442,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{220,-76}</string>
                <key>spriteSize</key>
                <string>{454,253}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1612,1},{454,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{226,-78}</string>
                <key>spriteSize</key>
                <string>{468,257}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1235,1455},{468,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{231,-80}</string>
                <key>spriteSize</key>
                <string>{476,263}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{990,977},{476,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{235,-82}</string>
                <key>spriteSize</key>
                <string>{484,267}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{928,491},{484,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{238,-84}</string>
                <key>spriteSize</key>
                <string>{492,273}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{601,1507},{492,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,-86}</string>
                <key>spriteSize</key>
                <string>{498,277}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1517},{498,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,-89}</string>
                <key>spriteSize</key>
                <string>{502,281}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{296,1},{502,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{32,169}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1235,1925},{32,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,-91}</string>
                <key>spriteSize</key>
                <string>{504,287}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,507},{504,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{245,-93}</string>
                <key>spriteSize</key>
                <string>{504,293}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,-95}</string>
                <key>spriteSize</key>
                <string>{502,299}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{290,507},{502,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{243,-98}</string>
                <key>spriteSize</key>
                <string>{502,305}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1013},{502,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{242,-100}</string>
                <key>spriteSize</key>
                <string>{498,313}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{579,1},{498,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{240,-103}</string>
                <key>spriteSize</key>
                <string>{496,319}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{280,1517},{496,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{239,-106}</string>
                <key>spriteSize</key>
                <string>{494,327}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{308,1011},{494,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{238,-109}</string>
                <key>spriteSize</key>
                <string>{490,335}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{591,501},{490,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{236,-113}</string>
                <key>spriteSize</key>
                <string>{488,343}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{894,1},{488,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{234,-116}</string>
                <key>spriteSize</key>
                <string>{484,351}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{637,993},{484,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{52,211}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{262,2017},{52,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{232,-119}</string>
                <key>spriteSize</key>
                <string>{480,357}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{876,1479},{480,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{230,-122}</string>
                <key>spriteSize</key>
                <string>{474,365}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1197,491},{474,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,-125}</string>
                <key>spriteSize</key>
                <string>{468,371}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1239,1},{468,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{223,-128}</string>
                <key>spriteSize</key>
                <string>{462,381}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1255,967},{462,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{220,-131}</string>
                <key>spriteSize</key>
                <string>{454,389}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1564,471},{454,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{215,-135}</string>
                <key>spriteSize</key>
                <string>{446,397}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1867,1},{446,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{211,-138}</string>
                <key>spriteSize</key>
                <string>{436,405}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2326,890},{436,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-142}</string>
                <key>spriteSize</key>
                <string>{428,411}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3243,345},{428,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{201,-145}</string>
                <key>spriteSize</key>
                <string>{416,421}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2733,879},{416,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{195,-149}</string>
                <key>spriteSize</key>
                <string>{406,427}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2246,1775},{406,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,5}</string>
                <key>spriteSize</key>
                <string>{70,275}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1354,1959},{70,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (50).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{190,-151}</string>
                <key>spriteSize</key>
                <string>{394,433}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2847,1},{394,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-152}</string>
                <key>spriteSize</key>
                <string>{382,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2206,449},{382,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,-153}</string>
                <key>spriteSize</key>
                <string>{372,441}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1860,1372},{372,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-152}</string>
                <key>spriteSize</key>
                <string>{364,443}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1494,1431},{364,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{170,-152}</string>
                <key>spriteSize</key>
                <string>{354,443}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1556,1876},{354,443}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,-150}</string>
                <key>spriteSize</key>
                <string>{346,443}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1638,927},{346,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (56).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-149}</string>
                <key>spriteSize</key>
                <string>{338,441}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1986,893},{338,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-147}</string>
                <key>spriteSize</key>
                <string>{330,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2266,1},{330,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (58).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-145}</string>
                <key>spriteSize</key>
                <string>{334,437}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2234,1336},{334,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{162,-142}</string>
                <key>spriteSize</key>
                <string>{338,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2590,442},{338,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-4}</string>
                <key>spriteSize</key>
                <string>{100,277}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1005,1961},{100,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (60).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-140}</string>
                <key>spriteSize</key>
                <string>{342,429}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3243,1},{342,429}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_into (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,-136}</string>
                <key>spriteSize</key>
                <string>{346,423}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2570,1328},{346,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (62).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,-132}</string>
                <key>spriteSize</key>
                <string>{350,417}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2654,1753},{350,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,-128}</string>
                <key>spriteSize</key>
                <string>{352,411}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2918,1302},{352,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (64).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,-124}</string>
                <key>spriteSize</key>
                <string>{354,403}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3272,1222},{354,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-11}</string>
                <key>spriteSize</key>
                <string>{128,273}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1426,1925},{128,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-19}</string>
                <key>spriteSize</key>
                <string>{158,271}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3006,1967},{158,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_into (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-25}</string>
                <key>spriteSize</key>
                <string>{188,265}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3166,1967},{188,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>awakenkingtaco_into_0.png</string>
            <key>size</key>
            <string>{3673,2240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f48ae8660fdc6b42f3661f10e0b3d1bb:ec9266bc2f49f49d69056e7afb664589:57a11eb29e7d1c4d168afd12df796b2f$</string>
            <key>textureFileName</key>
            <string>awakenkingtaco_into_0.png</string>
        </dict>
    </dict>
</plist>
