<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>awakenkingtaco_move (102).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-84}</string>
                <key>spriteSize</key>
                <string>{424,267}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1568,2290},{424,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-92}</string>
                <key>spriteSize</key>
                <string>{422,285}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{740,1933},{422,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (108).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{201,-102}</string>
                <key>spriteSize</key>
                <string>{416,303}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1646,1262},{416,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{201,-64}</string>
                <key>spriteSize</key>
                <string>{418,329}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2682,610},{418,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{198,-109}</string>
                <key>spriteSize</key>
                <string>{412,319}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2139,2277},{412,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-112}</string>
                <key>spriteSize</key>
                <string>{414,329}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2560,941},{414,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (116).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-118}</string>
                <key>spriteSize</key>
                <string>{414,343}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2144,925},{414,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-121}</string>
                <key>spriteSize</key>
                <string>{416,347}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1726,913},{416,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-125}</string>
                <key>spriteSize</key>
                <string>{414,359}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2976,941},{414,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (120).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-128}</string>
                <key>spriteSize</key>
                <string>{412,367}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1690,1876},{412,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (123).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{195,-135}</string>
                <key>spriteSize</key>
                <string>{404,387}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1952},{404,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (124).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{193,-138}</string>
                <key>spriteSize</key>
                <string>{400,391}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2059,1875},{400,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (125).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,-139}</string>
                <key>spriteSize</key>
                <string>{396,397}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1170,2290},{396,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (126).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{188,-141}</string>
                <key>spriteSize</key>
                <string>{392,401}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{390,1539},{392,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (127).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-143}</string>
                <key>spriteSize</key>
                <string>{386,407}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1134},{386,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-44}</string>
                <key>spriteSize</key>
                <string>{426,315}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2254,608},{426,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (130).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,-150}</string>
                <key>spriteSize</key>
                <string>{364,423}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,2358},{364,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (136).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,-159}</string>
                <key>spriteSize</key>
                <string>{320,449}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2738,1},{320,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (137).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,-158}</string>
                <key>spriteSize</key>
                <string>{316,451}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2285,1},{316,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{209,-34}</string>
                <key>spriteSize</key>
                <string>{432,305}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1212,1225},{432,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (141).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,-153}</string>
                <key>spriteSize</key>
                <string>{316,447}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3636,1},{316,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (142).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,-151}</string>
                <key>spriteSize</key>
                <string>{320,445}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3189,1},{320,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (144).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-146}</string>
                <key>spriteSize</key>
                <string>{328,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3189,323},{328,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (145).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-143}</string>
                <key>spriteSize</key>
                <string>{332,433}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1291,891},{332,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (147).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-136}</string>
                <key>spriteSize</key>
                <string>{342,423}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1212,1532},{342,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (148).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,-132}</string>
                <key>spriteSize</key>
                <string>{346,417}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{793,1526},{346,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,-11}</string>
                <key>spriteSize</key>
                <string>{442,287}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2273,319},{442,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{217,17}</string>
                <key>spriteSize</key>
                <string>{450,269}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1821,310},{450,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,-120}</string>
                <key>spriteSize</key>
                <string>{360,397}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{771,2357},{360,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{226,66}</string>
                <key>spriteSize</key>
                <string>{468,265}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1351,318},{468,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,75}</string>
                <key>spriteSize</key>
                <string>{470,285}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2717,323},{470,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{226,85}</string>
                <key>spriteSize</key>
                <string>{466,307}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1817,1},{466,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{225,89}</string>
                <key>spriteSize</key>
                <string>{464,315}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1351,1},{464,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{176,-116}</string>
                <key>spriteSize</key>
                <string>{366,391}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3675,885},{366,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{221,95}</string>
                <key>spriteSize</key>
                <string>{458,329}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{891,1},{458,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{217,102}</string>
                <key>spriteSize</key>
                <string>{448,343}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{441,1},{448,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{211,110}</string>
                <key>spriteSize</key>
                <string>{438,361}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1},{438,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{201,119}</string>
                <key>spriteSize</key>
                <string>{418,381}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,364},{418,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{198,121}</string>
                <key>spriteSize</key>
                <string>{410,385}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,747},{410,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{194,124}</string>
                <key>spriteSize</key>
                <string>{402,391}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{389,1146},{402,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,127}</string>
                <key>spriteSize</key>
                <string>{394,399}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1027,1876},{394,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,131}</string>
                <key>spriteSize</key>
                <string>{384,407}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1543},{384,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,135}</string>
                <key>spriteSize</key>
                <string>{364,417}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{793,1160},{364,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,137}</string>
                <key>spriteSize</key>
                <string>{348,423}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{390,1933},{348,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,140}</string>
                <key>spriteSize</key>
                <string>{330,431}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1821,581},{330,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,-106}</string>
                <key>spriteSize</key>
                <string>{376,377}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2452,1619},{376,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,141}</string>
                <key>spriteSize</key>
                <string>{304,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1332,585},{304,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{134,142}</string>
                <key>spriteSize</key>
                <string>{284,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{891,332},{284,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,142}</string>
                <key>spriteSize</key>
                <string>{264,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{441,346},{264,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (56).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,141}</string>
                <key>spriteSize</key>
                <string>{264,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{421,612},{264,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,141}</string>
                <key>spriteSize</key>
                <string>{266,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{413,878},{266,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (58).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,140}</string>
                <key>spriteSize</key>
                <string>{268,437}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{862,618},{268,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,139}</string>
                <key>spriteSize</key>
                <string>{270,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{854,888},{270,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{185,-101}</string>
                <key>spriteSize</key>
                <string>{384,369}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2830,1622},{384,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,136}</string>
                <key>spriteSize</key>
                <string>{280,431}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3636,319},{280,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (64).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{134,135}</string>
                <key>spriteSize</key>
                <string>{282,431}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3630,601},{282,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,133}</string>
                <key>spriteSize</key>
                <string>{286,427}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3102,653},{286,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,125}</string>
                <key>spriteSize</key>
                <string>{300,415}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1837,2290},{300,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,-96}</string>
                <key>spriteSize</key>
                <string>{392,359}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3216,1636},{392,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (70).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{144,123}</string>
                <key>spriteSize</key>
                <string>{302,413}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2064,1270},{302,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,114}</string>
                <key>spriteSize</key>
                <string>{318,401}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2887,1302},{318,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,107}</string>
                <key>spriteSize</key>
                <string>{328,391}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3610,1638},{328,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (76).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,103}</string>
                <key>spriteSize</key>
                <string>{332,387}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2460,1998},{332,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,99}</string>
                <key>spriteSize</key>
                <string>{336,381}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2794,1998},{336,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{166,90}</string>
                <key>spriteSize</key>
                <string>{346,367}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3132,1997},{346,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{171,79}</string>
                <key>spriteSize</key>
                <string>{358,351}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3692,1278},{358,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (82).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,74}</string>
                <key>spriteSize</key>
                <string>{362,343}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{426,2358},{362,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,69}</string>
                <key>spriteSize</key>
                <string>{366,335}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2460,2387},{366,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (84).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{177,63}</string>
                <key>spriteSize</key>
                <string>{368,331}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2828,2381},{368,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{182,41}</string>
                <key>spriteSize</key>
                <string>{380,317}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3198,2366},{380,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,25}</string>
                <key>spriteSize</key>
                <string>{386,307}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1637,1567},{386,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-81}</string>
                <key>spriteSize</key>
                <string>{406,345}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2479,1272},{406,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (90).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,18}</string>
                <key>spriteSize</key>
                <string>{388,303}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3610,1968},{388,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{188,10}</string>
                <key>spriteSize</key>
                <string>{390,299}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2025,1574},{390,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{193,-11}</string>
                <key>spriteSize</key>
                <string>{400,287}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3290,1347},{400,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (94).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{195,-21}</string>
                <key>spriteSize</key>
                <string>{404,281}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3392,941},{404,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (96).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-41}</string>
                <key>spriteSize</key>
                <string>{412,265}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1423,1876},{412,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>awakenkingtaco_move_1.png</string>
            <key>size</key>
            <string>{4084,2723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7edaa217775da8a5e62c7aad29c4f8f:0d935c82a3d1ad996d9e3bb7b65a9db5:a7e34a5a219121a64052264b39ef983a$</string>
            <key>textureFileName</key>
            <string>awakenkingtaco_move_1.png</string>
        </dict>
    </dict>
</plist>
