<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>awakenkingtaco_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,-124}</string>
                <key>spriteSize</key>
                <string>{354,403}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2480,1820},{354,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-73}</string>
                <key>spriteSize</key>
                <string>{412,337}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1751,1466},{412,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (100).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-77}</string>
                <key>spriteSize</key>
                <string>{422,253}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1769,1},{422,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-81}</string>
                <key>spriteSize</key>
                <string>{424,259}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3535,1},{424,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-87}</string>
                <key>spriteSize</key>
                <string>{424,273}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{879,248},{424,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (104).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-90}</string>
                <key>spriteSize</key>
                <string>{424,279}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3057,260},{424,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (106).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{203,-96}</string>
                <key>spriteSize</key>
                <string>{420,291}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{428,522},{420,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-99}</string>
                <key>spriteSize</key>
                <string>{418,297}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2967,541},{418,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-104}</string>
                <key>spriteSize</key>
                <string>{414,309}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{412,815},{414,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (110).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-107}</string>
                <key>spriteSize</key>
                <string>{412,315}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2962,840},{412,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (112).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-111}</string>
                <key>spriteSize</key>
                <string>{414,323}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1213,1132},{414,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (114).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-114}</string>
                <key>spriteSize</key>
                <string>{416,333}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1450},{416,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-117}</string>
                <key>spriteSize</key>
                <string>{416,337}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2165,1478},{416,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (118).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-122}</string>
                <key>spriteSize</key>
                <string>{416,353}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1214,1804},{416,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-54}</string>
                <key>spriteSize</key>
                <string>{422,323}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1629,1141},{422,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (121).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{197,-131}</string>
                <key>spriteSize</key>
                <string>{410,373}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1660,2160},{410,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (122).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,-133}</string>
                <key>spriteSize</key>
                <string>{408,379}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2911,2191},{408,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (128).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{182,-145}</string>
                <key>spriteSize</key>
                <string>{380,411}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3321,2191},{380,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (129).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-147}</string>
                <key>spriteSize</key>
                <string>{372,419}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1239,2160},{372,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (131).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{171,-152}</string>
                <key>spriteSize</key>
                <string>{358,431}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3308,1831},{358,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (132).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,-154}</string>
                <key>spriteSize</key>
                <string>{350,437}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{414,1790},{350,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (133).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{164,-156}</string>
                <key>spriteSize</key>
                <string>{342,441}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3387,1487},{342,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (134).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-157}</string>
                <key>spriteSize</key>
                <string>{334,445}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{419,1454},{334,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (135).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-159}</string>
                <key>spriteSize</key>
                <string>{326,447}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2962,1158},{326,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (138).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,-157}</string>
                <key>spriteSize</key>
                <string>{312,451}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3376,844},{312,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (139).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,-156}</string>
                <key>spriteSize</key>
                <string>{308,451}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1214,822},{308,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (140).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-155}</string>
                <key>spriteSize</key>
                <string>{310,449}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2074,831},{310,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (143).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,-148}</string>
                <key>spriteSize</key>
                <string>{324,443}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2517,1152},{324,443}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (146).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-139}</string>
                <key>spriteSize</key>
                <string>{336,429}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1320,1466},{336,429}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (149).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,-128}</string>
                <key>spriteSize</key>
                <string>{350,411}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1785},{350,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{211,-24}</string>
                <key>spriteSize</key>
                <string>{438,295}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2108,534},{438,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (150).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,-124}</string>
                <key>spriteSize</key>
                <string>{354,403}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2480,1820},{354,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,3}</string>
                <key>spriteSize</key>
                <string>{446,279}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3483,262},{446,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{220,31}</string>
                <key>spriteSize</key>
                <string>{454,257}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2661,1},{454,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{222,45}</string>
                <key>spriteSize</key>
                <string>{460,243}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1},{460,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{224,56}</string>
                <key>spriteSize</key>
                <string>{462,245}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{463,1},{462,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{226,61}</string>
                <key>spriteSize</key>
                <string>{466,255}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2193,1},{466,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,69}</string>
                <key>spriteSize</key>
                <string>{468,273}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1715,256},{468,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,82}</string>
                <key>spriteSize</key>
                <string>{468,299}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3387,543},{468,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{223,92}</string>
                <key>spriteSize</key>
                <string>{462,321}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2053,1143},{462,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{219,98}</string>
                <key>spriteSize</key>
                <string>{452,335}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{866,1457},{452,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,106}</string>
                <key>spriteSize</key>
                <string>{444,353}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1632,1805},{444,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{208,114}</string>
                <key>spriteSize</key>
                <string>{432,369}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{388,2142},{432,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,117}</string>
                <key>spriteSize</key>
                <string>{424,375}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2072,2176},{424,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-111}</string>
                <key>spriteSize</key>
                <string>{372,385}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,2137},{372,385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,132}</string>
                <key>spriteSize</key>
                <string>{376,411}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2498,2186},{376,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,134}</string>
                <key>spriteSize</key>
                <string>{370,415}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{822,2159},{370,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{171,136}</string>
                <key>spriteSize</key>
                <string>{356,421}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2885,1828},{356,421}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,139}</string>
                <key>spriteSize</key>
                <string>{340,427}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2958,1486},{340,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,141}</string>
                <key>spriteSize</key>
                <string>{322,433}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{379,1126},{322,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (50).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,141}</string>
                <key>spriteSize</key>
                <string>{314,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2525,836},{314,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,141}</string>
                <key>spriteSize</key>
                <string>{294,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1671,531},{294,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,142}</string>
                <key>spriteSize</key>
                <string>{272,439}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,246},{272,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (60).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,138}</string>
                <key>spriteSize</key>
                <string>{272,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{442,248},{272,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,138}</string>
                <key>spriteSize</key>
                <string>{274,435}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2185,258},{274,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (62).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{131,137}</string>
                <key>spriteSize</key>
                <string>{276,433}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2622,260},{276,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (66).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,132}</string>
                <key>spriteSize</key>
                <string>{290,425}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,520},{290,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,130}</string>
                <key>spriteSize</key>
                <string>{292,421}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{850,523},{292,421}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (68).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{140,127}</string>
                <key>spriteSize</key>
                <string>{296,417}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2548,538},{296,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,120}</string>
                <key>spriteSize</key>
                <string>{308,409}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,812},{308,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (72).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,117}</string>
                <key>spriteSize</key>
                <string>{312,405}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1667,827},{312,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (74).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,111}</string>
                <key>spriteSize</key>
                <string>{322,397}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{814,1130},{322,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (78).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,94}</string>
                <key>spriteSize</key>
                <string>{340,373}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2583,1478},{340,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{192,-88}</string>
                <key>spriteSize</key>
                <string>{400,353}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{2078,1817},{400,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (80).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,84}</string>
                <key>spriteSize</key>
                <string>{352,359}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{853,1794},{352,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>awakenkingtaco_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,56}</string>
                <key>spriteSize</key>
                <string>{372,327}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3411,1158},{372,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (86).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{180,48}</string>
                <key>spriteSize</key>
                <string>{376,321}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1,1122},{376,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (88).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,33}</string>
                <key>spriteSize</key>
                <string>{384,311}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{828,817},{384,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (92).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,0}</string>
                <key>spriteSize</key>
                <string>{396,293}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1273,527},{396,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{197,-30}</string>
                <key>spriteSize</key>
                <string>{408,273}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1305,252},{408,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-53}</string>
                <key>spriteSize</key>
                <string>{416,257}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{3117,1},{416,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (98).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-64}</string>
                <key>spriteSize</key>
                <string>{418,249}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{1349,1},{418,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awakenkingtaco_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{203,-73}</string>
                <key>spriteSize</key>
                <string>{420,245}</string>
                <key>spriteSourceSize</key>
                <string>{1224,851}</string>
                <key>textureRect</key>
                <string>{{927,1},{420,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>awakenkingtaco_move_0.png</string>
            <key>size</key>
            <string>{3960,2572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7edaa217775da8a5e62c7aad29c4f8f:0d935c82a3d1ad996d9e3bb7b65a9db5:a7e34a5a219121a64052264b39ef983a$</string>
            <key>textureFileName</key>
            <string>awakenkingtaco_move_0.png</string>
        </dict>
    </dict>
</plist>
