<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juexingbawangxie_move (0).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-42}</string>
                <key>spriteSize</key>
                <string>{438,325}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{883,1},{438,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-41}</string>
                <key>spriteSize</key>
                <string>{438,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{443,1},{438,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-18}</string>
                <key>spriteSize</key>
                <string>{416,287}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{847,1556},{416,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-15}</string>
                <key>spriteSize</key>
                <string>{416,277}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{419,1572},{416,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-11}</string>
                <key>spriteSize</key>
                <string>{408,269}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1462,2146},{408,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-10}</string>
                <key>spriteSize</key>
                <string>{408,267}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1733,2049},{408,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10}</string>
                <key>spriteSize</key>
                <string>{414,269}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1899},{414,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-10}</string>
                <key>spriteSize</key>
                <string>{414,269}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{623,2120},{414,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-12}</string>
                <key>spriteSize</key>
                <string>{416,267}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1630},{416,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-12}</string>
                <key>spriteSize</key>
                <string>{416,267}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1265,1606},{416,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-13}</string>
                <key>spriteSize</key>
                <string>{418,267}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{427,1303},{418,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-11}</string>
                <key>spriteSize</key>
                <string>{418,269}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{863,1285},{418,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-42}</string>
                <key>spriteSize</key>
                <string>{440,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-13}</string>
                <key>spriteSize</key>
                <string>{416,267}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{837,1845},{416,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-13}</string>
                <key>spriteSize</key>
                <string>{416,267}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{419,1851},{416,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-15}</string>
                <key>spriteSize</key>
                <string>{414,269}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1255,1875},{414,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-16}</string>
                <key>spriteSize</key>
                <string>{414,271}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1763,1},{414,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-17}</string>
                <key>spriteSize</key>
                <string>{412,275}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{894,2146},{412,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-19}</string>
                <key>spriteSize</key>
                <string>{410,279}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1755,417},{410,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-24}</string>
                <key>spriteSize</key>
                <string>{410,289}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1171,2146},{410,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-29}</string>
                <key>spriteSize</key>
                <string>{410,299}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{322,2170},{410,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-33}</string>
                <key>spriteSize</key>
                <string>{402,305}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1683,1645},{402,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-35}</string>
                <key>spriteSize</key>
                <string>{406,313}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1723,829},{406,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-44}</string>
                <key>spriteSize</key>
                <string>{436,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{883,328},{436,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-37}</string>
                <key>spriteSize</key>
                <string>{406,317}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1719,1237},{406,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-39}</string>
                <key>spriteSize</key>
                <string>{410,319}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,2170},{410,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_move (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-39}</string>
                <key>spriteSize</key>
                <string>{416,321}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1307},{416,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-40}</string>
                <key>spriteSize</key>
                <string>{420,323}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1297,974},{420,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-41}</string>
                <key>spriteSize</key>
                <string>{424,323}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,982},{424,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-41}</string>
                <key>spriteSize</key>
                <string>{430,321}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{435,657},{430,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-40}</string>
                <key>spriteSize</key>
                <string>{432,323}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,657},{432,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-41}</string>
                <key>spriteSize</key>
                <string>{434,323}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,332},{434,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-40}</string>
                <key>spriteSize</key>
                <string>{438,325}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1323,1},{438,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-41}</string>
                <key>spriteSize</key>
                <string>{436,325}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{443,330},{436,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-43}</string>
                <key>spriteSize</key>
                <string>{432,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1321,328},{432,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{428,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{867,657},{428,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-39}</string>
                <key>spriteSize</key>
                <string>{426,321}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{435,980},{426,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-36}</string>
                <key>spriteSize</key>
                <string>{424,315}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1297,657},{424,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{416,305}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1283,1299},{416,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-25}</string>
                <key>spriteSize</key>
                <string>{418,297}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{863,986},{418,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>juexingbawangxie_move_0.png</string>
            <key>size</key>
            <string>{2037,2581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa5e7d78c79dccce35974f0519ee5d0:da8da01a3f51bf1a7447103ab641c7ec:3e15e7e5bf8a278b35985151707629fa$</string>
            <key>textureFileName</key>
            <string>juexingbawangxie_move_0.png</string>
        </dict>
    </dict>
</plist>
