<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juexingbawangxie_attack (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-43}</string>
                <key>spriteSize</key>
                <string>{436,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{903,374},{436,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-28}</string>
                <key>spriteSize</key>
                <string>{410,337}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1695,1927},{410,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_attack (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-52}</string>
                <key>spriteSize</key>
                <string>{416,331}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1747},{416,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-47}</string>
                <key>spriteSize</key>
                <string>{422,291}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1749,1085},{422,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_attack (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{424,233}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1777,659},{424,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_attack (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{454,197}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,244},{454,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{464,241}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1},{464,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{464,241}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1},{464,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,29}</string>
                <key>spriteSize</key>
                <string>{462,337}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{467,1},{462,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,35}</string>
                <key>spriteSize</key>
                <string>{448,371}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{931,1},{448,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,34}</string>
                <key>spriteSize</key>
                <string>{428,371}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{439,1028},{428,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-42}</string>
                <key>spriteSize</key>
                <string>{438,325}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1381,1},{438,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,35}</string>
                <key>spriteSize</key>
                <string>{430,375}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1313,1321},{430,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,33}</string>
                <key>spriteSize</key>
                <string>{444,357}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{457,340},{444,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{430,215}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1821,1},{430,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_attack (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{416,295}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1745,1509},{416,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>juexingbawangxie_attack (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-27}</string>
                <key>spriteSize</key>
                <string>{406,309}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,2080},{406,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{394,313}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,2391},{394,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-45}</string>
                <key>spriteSize</key>
                <string>{390,321}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1607,2346},{390,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-48}</string>
                <key>spriteSize</key>
                <string>{396,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{811,2358},{396,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-53}</string>
                <key>spriteSize</key>
                <string>{396,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1209,2346},{396,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-55}</string>
                <key>spriteSize</key>
                <string>{400,331}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{409,2358},{400,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-38}</string>
                <key>spriteSize</key>
                <string>{436,323}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,774},{436,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-55}</string>
                <key>spriteSize</key>
                <string>{408,333}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{419,2023},{408,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-56}</string>
                <key>spriteSize</key>
                <string>{412,333}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1279,2011},{412,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-56}</string>
                <key>spriteSize</key>
                <string>{420,333}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{857,1682},{420,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-56}</string>
                <key>spriteSize</key>
                <string>{422,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1416},{422,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-55}</string>
                <key>spriteSize</key>
                <string>{426,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{869,1351},{426,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-56}</string>
                <key>spriteSize</key>
                <string>{432,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1315,992},{432,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-58}</string>
                <key>spriteSize</key>
                <string>{432,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{879,1022},{432,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-58}</string>
                <key>spriteSize</key>
                <string>{438,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,443},{438,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-57}</string>
                <key>spriteSize</key>
                <string>{434,331}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1341,659},{434,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-55}</string>
                <key>spriteSize</key>
                <string>{436,327}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{441,699},{436,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-36}</string>
                <key>spriteSize</key>
                <string>{434,317}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{879,703},{434,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-54}</string>
                <key>spriteSize</key>
                <string>{436,329}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1381,328},{436,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-30}</string>
                <key>spriteSize</key>
                <string>{428,315}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1,1099},{428,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-24}</string>
                <key>spriteSize</key>
                <string>{424,311}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{431,1401},{424,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-19}</string>
                <key>spriteSize</key>
                <string>{418,307}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{425,1714},{418,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{414,311}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{1279,1698},{414,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juexingbawangxie_attack (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{410,325}</string>
                <key>spriteSourceSize</key>
                <string>{466,445}</string>
                <key>textureRect</key>
                <string>{{845,2017},{410,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>juexingbawangxie_attack_0.png</string>
            <key>size</key>
            <string>{2041,2705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab72fd32f851519a318743a315f1a2e:5f3b4cc50d72f1f73985cffcde822007:b12460f7880ed1d0fa8efb6773f8d636$</string>
            <key>textureFileName</key>
            <string>juexingbawangxie_attack_0.png</string>
        </dict>
    </dict>
</plist>
