<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhuanzhadanxie (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{630,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{756,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{882,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{126,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{252,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{378,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianhuanzhadanxie (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{504,0},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianhuanzhadanxie_0.png</string>
            <key>size</key>
            <string>{1008,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bff4838234c212a117b7fd82e076f653:5af55567ca5dc515f8cb99245fd74c83:7775e194224aaffa2ae894073b19317d$</string>
            <key>textureFileName</key>
            <string>lianhuanzhadanxie_0.png</string>
        </dict>
    </dict>
</plist>
