<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyanfengbao_cannon (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{0,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_cannon (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{195,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_cannon (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{390,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lieyanfengbao_cannon_0.png</string>
            <key>size</key>
            <string>{585,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc55339c867e2cdbc381976b5fee2c3:2c5209f94d7ec80625eb4b0da0fafc6f:779b7903702984f536312924520b3cc3$</string>
            <key>textureFileName</key>
            <string>lieyanfengbao_cannon_0.png</string>
        </dict>
    </dict>
</plist>
