<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyanfengbao_move_texiao (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{0,0},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{528,156},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{0,312},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{264,312},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{264,0},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{528,0},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{0,156},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move_texiao (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,156}</string>
                <key>spriteSourceSize</key>
                <string>{264,156}</string>
                <key>textureRect</key>
                <string>{{264,156},{264,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lieyanfengbao_move_texiao_0.png</string>
            <key>size</key>
            <string>{792,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7a2649bdc0de3f2016f401c1db6d803:29cab3d1fefa2df5c231dfc2ac7aa01c:0e662eea4ef9d9fc5da130723838afc9$</string>
            <key>textureFileName</key>
            <string>lieyanfengbao_move_texiao_0.png</string>
        </dict>
    </dict>
</plist>
