<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyanfengbao_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,800},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,960},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,1120},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,1280},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,1440},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,1600},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,1760},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,1920},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,2080},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,2240},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,160},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,2400},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,2560},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,2720},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,2880},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,3040},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,3200},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,3360},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,3520},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,3680},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,3840},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,320},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,480},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{0,640},{200,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lieyanfengbao_move_0.png</string>
            <key>size</key>
            <string>{200,4000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998c303fe0d1d0bd2c83aa3660cbb12d:712ac1a8ec3300001bd58ca3e9a407f7:98479ef3bc8de3253d870a7a4a50b75a$</string>
            <key>textureFileName</key>
            <string>lieyanfengbao_move_0.png</string>
        </dict>
    </dict>
</plist>
