<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lieyanfengbao_fire (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{0,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_fire (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{195,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_fire (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{390,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_fire (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{585,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyanfengbao_fire (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,188}</string>
                <key>spriteSourceSize</key>
                <string>{195,188}</string>
                <key>textureRect</key>
                <string>{{780,0},{195,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lieyanfengbao_fire_0.png</string>
            <key>size</key>
            <string>{975,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3883ddc3c5e9c718dabe5ddae4fe6b2:88cc353940b6f340897bbbce02044be8:be11688d743f187579be07df59c90175$</string>
            <key>textureFileName</key>
            <string>lieyanfengbao_fire_0.png</string>
        </dict>
    </dict>
</plist>
