<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maodaye_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,1425},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,1425},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,1425},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,1900},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,1900},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,1900},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maodaye_die_0.png</string>
            <key>size</key>
            <string>{1674,2375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da2899767f952318a48e39fd843b173e:65907dd757abb16406c02372ce9bf2b6:9987d18a409794ebd5d9105ede65b4f2$</string>
            <key>textureFileName</key>
            <string>maodaye_die_0.png</string>
        </dict>
    </dict>
</plist>
