<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maodaye_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{2790,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{3348,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1674,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{2232,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{2790,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{3348,475},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{0,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{558,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1674,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{2232,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{2790,950},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1116,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{1674,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,475}</string>
                <key>spriteSourceSize</key>
                <string>{558,475}</string>
                <key>textureRect</key>
                <string>{{2232,0},{558,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maodaye_move_0.png</string>
            <key>size</key>
            <string>{3906,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc1c1288ddb3eca389c7be2bde5e012:b95111cfa9c9c88d8e43fcd3d10b945c:73d1b3de258f85944821684c34a8230d$</string>
            <key>textureFileName</key>
            <string>maodaye_move_0.png</string>
        </dict>
    </dict>
</plist>
