<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maodaye_dead_effect (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{0,0},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{407,822},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{0,1233},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{407,1233},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{0,1644},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{407,1644},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{0,2055},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{407,2055},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{407,0},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{0,411},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{407,411},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maodaye_dead_effect (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,411}</string>
                <key>spriteSourceSize</key>
                <string>{407,411}</string>
                <key>textureRect</key>
                <string>{{0,822},{407,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maodaye_dead_effect_0.png</string>
            <key>size</key>
            <string>{814,2466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93aadea26b6eb8fdc60904a22b871ac:d562d6d65e426951abaeeb4f4865e792:6448a01734841dd03f8ce679276933a8$</string>
            <key>textureFileName</key>
            <string>maodaye_dead_effect_0.png</string>
        </dict>
    </dict>
</plist>
