<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandiansha_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{0,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansha_die (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{1890,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansha_die (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{2268,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansha_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{378,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansha_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{756,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansha_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{1134,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandiansha_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,238}</string>
                <key>spriteSourceSize</key>
                <string>{378,238}</string>
                <key>textureRect</key>
                <string>{{1512,0},{378,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shandiansha_die_0.png</string>
            <key>size</key>
            <string>{2646,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c7f33ac722b65fece1f429c241790f:b112885da5bafbdd95d420977f86197e:dcf922197748f228997d72df2f07ce86$</string>
            <key>textureFileName</key>
            <string>shandiansha_die_0.png</string>
        </dict>
    </dict>
</plist>
