<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenlongzhuanpan_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{316,172},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{0,344},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{158,344},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{316,344},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{0,516},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{158,516},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{316,516},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{0,688},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{158,688},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{316,688},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{158,0},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{316,0},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{0,172},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenlongzhuanpan_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,172}</string>
                <key>spriteSourceSize</key>
                <string>{158,172}</string>
                <key>textureRect</key>
                <string>{{158,172},{158,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shenlongzhuanpan_move_0.png</string>
            <key>size</key>
            <string>{474,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c255b26bad95c6faf3f3696f0b535e:e0384b8b788cf65977bc742ecebdf241:bf429afb7fcde3e3e73717e667f9c6a4$</string>
            <key>textureFileName</key>
            <string>shenlongzhuanpan_move_0.png</string>
        </dict>
    </dict>
</plist>
