<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_shandiansha05 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{28,0},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{73,96},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{0,96},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{35,59},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,30}</string>
                <key>textureRect</key>
                <string>{{0,59},{35,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{0,29},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{31,29},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{57,0},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,30}</string>
                <key>textureRect</key>
                <string>{{61,29},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{70,59},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha05 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{34,96},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texiao_shandiansha05_0.png</string>
            <key>size</key>
            <string>{109,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d870f7ede492ca30f32a398434ad9fd:632aeb0d124bbf86dee203997eac7729:693e4ba268219fab2d5318dc72bd36b0$</string>
            <key>textureFileName</key>
            <string>texiao_shandiansha05_0.png</string>
        </dict>
    </dict>
</plist>
