<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_shandiansha01 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{1215,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{1458,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{1701,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{243,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{486,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{729,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha01 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{972,0},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texiao_shandiansha01_0.png</string>
            <key>size</key>
            <string>{1944,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5aa833cbb79e86daf2113d4fb76c480:2e262be5d8e5946213e79f3dc54c6901:3d9bd788bf7e44487f7be0d61db29ae1$</string>
            <key>textureFileName</key>
            <string>texiao_shandiansha01_0.png</string>
        </dict>
    </dict>
</plist>
