<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_shandiansha04 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{1505,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{1806,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{2107,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{301,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{602,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{903,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha04 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,101}</string>
                <key>spriteSourceSize</key>
                <string>{301,101}</string>
                <key>textureRect</key>
                <string>{{1204,0},{301,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texiao_shandiansha04_0.png</string>
            <key>size</key>
            <string>{2408,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7f6f9e66c13d7800585cbd21c4b080c:4fdd7313c7c221c252e62502d024280c:c1b53a99b7979967588ac9d3ab43343f$</string>
            <key>textureFileName</key>
            <string>texiao_shandiansha04_0.png</string>
        </dict>
    </dict>
</plist>
