<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_shandiansha02 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{270,143},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{135,286},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{135,0},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{270,0},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha02 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,143}</string>
                <key>spriteSourceSize</key>
                <string>{135,143}</string>
                <key>textureRect</key>
                <string>{{135,143},{135,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texiao_shandiansha02_0.png</string>
            <key>size</key>
            <string>{405,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a98e77c11f97ef729447cf795d61f8a6:e2ef089822c6759fa66621f2ba58659a:991ed960930b2ecf42cea73e7c3c2ed4$</string>
            <key>textureFileName</key>
            <string>texiao_shandiansha02_0.png</string>
        </dict>
    </dict>
</plist>
