<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao_shandiansha03 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,272}</string>
                <key>spriteSourceSize</key>
                <string>{289,272}</string>
                <key>textureRect</key>
                <string>{{0,0},{289,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha03 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,272}</string>
                <key>spriteSourceSize</key>
                <string>{289,272}</string>
                <key>textureRect</key>
                <string>{{289,0},{289,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texiao_shandiansha03 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,272}</string>
                <key>spriteSourceSize</key>
                <string>{289,272}</string>
                <key>textureRect</key>
                <string>{{578,0},{289,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texiao_shandiansha03_0.png</string>
            <key>size</key>
            <string>{867,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddcbbdf9da81009fdbf7f76118399484:8186e1a414117c77f37e598ebd8eae40:9f3c2f7946d71a5096e609ce87759864$</string>
            <key>textureFileName</key>
            <string>texiao_shandiansha03_0.png</string>
        </dict>
    </dict>
</plist>
