<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuantouxie_cannon (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{297,230}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{555,277},{297,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{283,234}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1768,1},{283,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-14}</string>
                <key>spriteSize</key>
                <string>{277,232}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{2293,233},{277,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_cannon (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{279,258}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1448,253},{279,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{281,230}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{2053,1},{281,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{293,250}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1188,1},{293,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{303,274}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{295,1},{303,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{297,248}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1149,253},{297,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{281,270}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1729,239},{281,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{293,292}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_cannon (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{295,250}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{891,1},{295,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{263,196}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{2619,1},{263,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{289,264}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{600,1},{289,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{285,284}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{2527,227},{285,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{279,252}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{2012,237},{279,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{281,214}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1,296},{281,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{293,240}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{854,267},{293,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{269,202}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{284,296},{269,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{281,224}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{2336,1},{281,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_cannon (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{283,236}</string>
                <key>spriteSourceSize</key>
                <string>{319,308}</string>
                <key>textureRect</key>
                <string>{{1483,1},{283,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zuantouxie_cannon_0.png</string>
            <key>size</key>
            <string>{2883,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a9dd924cc5a7eed7e41480e64873a75:a470e8072fd4d6595d6c372dab3bfa01:cabad903a26a591cd393fbad550fe641$</string>
            <key>textureFileName</key>
            <string>zuantouxie_cannon_0.png</string>
        </dict>
    </dict>
</plist>
