<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuantouxie_pengzhang (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{552,340}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1647,555},{552,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{552,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1,555},{552,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{552,346}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1647,1},{552,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{552,356}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1093,729},{552,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_pengzhang (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{365,1},{552,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{365,555},{552,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{729,1},{552,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{729,555},{552,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuantouxie_pengzhang (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1093,1},{552,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_pengzhang (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,362}</string>
                <key>spriteSourceSize</key>
                <string>{552,364}</string>
                <key>textureRect</key>
                <string>{{1093,365},{552,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zuantouxie_pengzhang_0.png</string>
            <key>size</key>
            <string>{1994,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26c99507b1b31e3d78eef61f0d1f6a7d:fa42960e9477cdd97f05ec181643f74d:7868897bc45e75a366c2fa672d3f6c27$</string>
            <key>textureFileName</key>
            <string>zuantouxie_pengzhang_0.png</string>
        </dict>
    </dict>
</plist>
