<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuantouxie_drift (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{368,210}</string>
                <key>spriteSourceSize</key>
                <string>{384,366}</string>
                <key>textureRect</key>
                <string>{{1,1079},{368,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_drift (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,22}</string>
                <key>spriteSize</key>
                <string>{368,256}</string>
                <key>spriteSourceSize</key>
                <string>{384,366}</string>
                <key>textureRect</key>
                <string>{{1,305},{368,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_drift (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{368,302}</string>
                <key>spriteSourceSize</key>
                <string>{384,366}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_drift (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,21}</string>
                <key>spriteSize</key>
                <string>{368,256}</string>
                <key>spriteSourceSize</key>
                <string>{384,366}</string>
                <key>textureRect</key>
                <string>{{1,563},{368,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuantouxie_drift (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,22}</string>
                <key>spriteSize</key>
                <string>{368,256}</string>
                <key>spriteSourceSize</key>
                <string>{384,366}</string>
                <key>textureRect</key>
                <string>{{1,821},{368,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zuantouxie_drift_0.png</string>
            <key>size</key>
            <string>{370,1290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0193b5fa79bad1d88f3986dfee6e5644:76b52824c9a89af082cf9026f688ddc9:d58af084e593569eb18b5cf5238ca720$</string>
            <key>textureFileName</key>
            <string>zuantouxie_drift_0.png</string>
        </dict>
    </dict>
</plist>
