<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mermaid_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{336,336},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mermaid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{423,336},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{369,336},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{336,363},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{363,369},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mermaid_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{396,336},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{396,369},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{336,396},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{363,396},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{390,402},{25,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mermaid_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{423,369},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_txk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,92}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{333,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mermaid_txk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,92}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{336,1},{333,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speedboat_score_panel_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{333,74}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{430,1},{333,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{333,78}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{1,336},{333,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{333,76}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{1,95},{333,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{333,74}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{1,416},{333,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{333,74}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{1,251},{333,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{333,74}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{430,1},{333,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txk_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{333,76}</string>
                <key>spriteSourceSize</key>
                <string>{333,92}</string>
                <key>textureRect</key>
                <string>{{1,173},{333,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mermaid_ui.png</string>
            <key>size</key>
            <string>{505,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94d9004558107ec435d2c69a36c01a56:6310bdc80bdec762764649b8ad6305a2:1e3465c0ec92ad7505d36cca71b7aad7$</string>
            <key>textureFileName</key>
            <string>mermaid_ui.png</string>
        </dict>
    </dict>
</plist>
