<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WakeupCrocodileBall (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{573,1697},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{278,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1419},{278,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{278,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{573,1417},{278,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{278,286}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{573,857},{278,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{280,286}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{581,1},{280,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{282,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,573},{282,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,857},{280,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-11}</string>
                <key>spriteSize</key>
                <string>{284,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{284,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{291,1},{284,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{284,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,287},{284,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{284,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{291,287},{284,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{287,857},{280,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{284,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{577,289},{284,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{282,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{285,573},{282,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{282,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{569,573},{282,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WakeupCrocodileBall (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{276,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1979},{276,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{270,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,2537},{270,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{266,272}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{563,2537},{266,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{268,276}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{285,2537},{268,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{274,278}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{283,2261},{274,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{569,2259},{276,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{278,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{571,1979},{278,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{278,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{287,1421},{278,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{278,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{287,1981},{278,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{278,286}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{573,1137},{278,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{280,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{289,1139},{280,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{278,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,2257},{278,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{278,284}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1699},{278,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{278,286}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1139},{278,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WakeupCrocodileBall (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{278,282}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{287,1701},{278,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WakeupCrocodileBall_0.png</string>
            <key>size</key>
            <string>{862,2808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e29829efeb871bedbcab31b486b1678:9fa3c2da97c919fca47eef3b113c7283:ff6b43723ec28eabd55fc3c05f166ccb$</string>
            <key>textureFileName</key>
            <string>WakeupCrocodileBall_0.png</string>
        </dict>
    </dict>
</plist>
