<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bawangjin_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,0},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,437},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,437},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,437},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,437},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,437},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,874},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,874},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,874},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,874},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,874},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,0},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,1311},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,1311},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,1311},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,1311},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,1311},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,1748},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,1748},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,1748},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,1748},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,1748},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,0},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,2185},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,2185},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,2185},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,2185},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,2185},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,2622},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,2622},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,2622},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,2622},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,2622},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,0},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,3059},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,3059},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{1456,3059},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2184,3059},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,3059},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{0,3496},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{728,3496},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangjin_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,437}</string>
                <key>spriteSourceSize</key>
                <string>{728,437}</string>
                <key>textureRect</key>
                <string>{{2912,0},{728,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bawangjin_move_0.png</string>
            <key>size</key>
            <string>{3640,3933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d7148a6c4271f29dd31e01caaf98d5:171080020e93fde7d57c45fa8270db2f:fb15c45ee38fdd3466f6b1f3a0029f82$</string>
            <key>textureFileName</key>
            <string>bawangjin_move_0.png</string>
        </dict>
    </dict>
</plist>
