<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bawangxie_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{0,0},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{503,998},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{0,1497},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{503,1497},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{0,1996},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{503,1996},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{503,0},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{0,499},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{503,499},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,499}</string>
                <key>spriteSourceSize</key>
                <string>{503,499}</string>
                <key>textureRect</key>
                <string>{{0,998},{503,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bawangxie_die_0.png</string>
            <key>size</key>
            <string>{1006,2495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cf802e7f362f1c5bea299aeb11cc00e:3b3ba5cfacb121d73a6ee0771f3e1e78:5d1e502914d018bfd8a02e5fe97d662d$</string>
            <key>textureFileName</key>
            <string>bawangxie_die_0.png</string>
        </dict>
    </dict>
</plist>
