<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bawangxie_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{0,0},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{503,455},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1006,455},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1509,455},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{0,910},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{503,910},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1006,910},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1509,910},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{0,1365},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{503,1365},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1006,1365},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{503,0},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1509,1365},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{0,1820},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{503,1820},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1006,1820},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1509,1820},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1006,0},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{1509,0},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bawangxie_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,455}</string>
                <key>spriteSourceSize</key>
                <string>{503,455}</string>
                <key>textureRect</key>
                <string>{{0,455},{503,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bawangxie_move_0.png</string>
            <key>size</key>
            <string>{2012,2275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f636e57baccf702f40bf8fcad35198fb:984c29a4e7e546e17754050399eb7ec5:2222274e8475e0715496abcecd26bf28$</string>
            <key>textureFileName</key>
            <string>bawangxie_move_0.png</string>
        </dict>
    </dict>
</plist>
