<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bazhuazhangyu_born (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_born (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_born (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_born (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_born (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_born (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bazhuazhangyu_born_1.png</string>
            <key>size</key>
            <string>{870,4080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f692366fc90004dc5514915f883f896:bc800a2c461a6a591ac1375c091d9ddd:f39e4aea9674eb0204bc1c6df6948164$</string>
            <key>textureFileName</key>
            <string>bazhuazhangyu_born_1.png</string>
        </dict>
    </dict>
</plist>
