<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bazhuazhangyu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bazhuazhangyu_move_0.png</string>
            <key>size</key>
            <string>{3480,4080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e4cede4bb19e5997bb9a6caf289283:cdbcf017849941796eddcf9e4d53eb28:2a12eb8d3900d5f2bdcaebb647e12c72$</string>
            <key>textureFileName</key>
            <string>bazhuazhangyu_move_0.png</string>
        </dict>
    </dict>
</plist>
