<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bazhuazhangyu_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,680},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,1360},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (121).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (123).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (125).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (127).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,2040},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (129).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (131).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (133).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (135).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,2720},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (137).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (139).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (141).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{1740,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (143).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{2610,3400},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{0,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bazhuazhangyu_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{870,680}</string>
                <key>spriteSourceSize</key>
                <string>{870,680}</string>
                <key>textureRect</key>
                <string>{{870,0},{870,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bazhuazhangyu_move_2.png</string>
            <key>size</key>
            <string>{3480,4080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e4cede4bb19e5997bb9a6caf289283:cdbcf017849941796eddcf9e4d53eb28:2a12eb8d3900d5f2bdcaebb647e12c72$</string>
            <key>textureFileName</key>
            <string>bazhuazhangyu_move_2.png</string>
        </dict>
    </dict>
</plist>
