<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombspeedboat_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-18}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{1,1565},{99,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombspeedboat_die (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{319,312}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{324,1},{319,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-7}</string>
                <key>spriteSize</key>
                <string>{315,312}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{1,939},{315,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{313,312}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{318,941},{313,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{303,306}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{316,1255},{303,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombspeedboat_die (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{293,298}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{633,1031},{293,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-15}</string>
                <key>spriteSize</key>
                <string>{273,258}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{645,1},{273,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{261,258}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{643,523},{261,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{261,260}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{645,261},{261,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{257,246}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{643,783},{257,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{303,302}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{624,1331},{303,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bombspeedboat_die (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{313,310}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{1,1253},{313,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{319,310}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{1,627},{319,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{321,310}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{319,310}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{322,629},{319,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{319,312}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{1,313},{319,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombspeedboat_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{319,312}</string>
                <key>spriteSourceSize</key>
                <string>{429,432}</string>
                <key>textureRect</key>
                <string>{{322,315},{319,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bombspeedboat_die_0.png</string>
            <key>size</key>
            <string>{927,1665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:809d0f9f0ff3eef4f705070c30fecd64:683bd94c27e71e8786397845db994850:a528534e701abb9b493fb325dfa5c966$</string>
            <key>textureFileName</key>
            <string>bombspeedboat_die_0.png</string>
        </dict>
    </dict>
</plist>
