<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chiyanlonggui_roll (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{1023,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{2046,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{3069,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,2276},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{1023,2276},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{1023,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{2046,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{3069,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_roll (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chiyanlonggui_roll_0.png</string>
            <key>size</key>
            <string>{4092,3414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1e927bea4144f956465f1f2500f77cc:b349e536e18790b4fe606026111a0523:9e0607e20796f1716fe82b971f30bc2e$</string>
            <key>textureFileName</key>
            <string>chiyanlonggui_roll_0.png</string>
        </dict>
    </dict>
</plist>
