<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chiyanlonggui_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chiyanlonggui_move_3.png</string>
            <key>size</key>
            <string>{1023,1138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:110e25d3dca4a5f0589ea97214f127a7:4b56297a9ee341b165fb2c04b9c08ab3:9e3bb027e46b284a51e0dc3decf14b60$</string>
            <key>textureFileName</key>
            <string>chiyanlonggui_move_3.png</string>
        </dict>
    </dict>
</plist>
