<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chiyanlonggui_change (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{1023,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{2046,0},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{1023,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{2046,1138},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{0,2276},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{1023,2276},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chiyanlonggui_change (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,1138}</string>
                <key>spriteSourceSize</key>
                <string>{1023,1138}</string>
                <key>textureRect</key>
                <string>{{2046,2276},{1023,1138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chiyanlonggui_change_1.png</string>
            <key>size</key>
            <string>{3069,3414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb53427aa4b217c9d91ebb63bc602d27:6fc10bfcc6ef00839ceee99f5b300955:fec4b6aa0afb0ae7f99698d6d64c0118$</string>
            <key>textureFileName</key>
            <string>chiyanlonggui_change_1.png</string>
        </dict>
    </dict>
</plist>
