<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clownfishlearner_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{494,481}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{500,2427},{494,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{474,515}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{523,504},{474,515}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-1}</string>
                <key>spriteSize</key>
                <string>{464,505}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1024,2416},{464,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-3}</string>
                <key>spriteSize</key>
                <string>{462,491}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,2436},{462,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-3}</string>
                <key>spriteSize</key>
                <string>{462,477}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{461,3355},{462,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-4}</string>
                <key>spriteSize</key>
                <string>{458,463}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,3355},{458,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-5}</string>
                <key>spriteSize</key>
                <string>{458,453}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{940,3364},{458,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-5}</string>
                <key>spriteSize</key>
                <string>{472,449}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1400,3364},{472,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-7}</string>
                <key>spriteSize</key>
                <string>{488,453}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,2900},{488,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{500,453}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1540,1510},{500,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{510,463}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1028,1475},{510,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{506,477}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{516,1948},{506,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{514,473}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,981},{514,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{510,485}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{516,1461},{510,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{504,495}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1531,2465},{504,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{498,503}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1539,1965},{498,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{490,509}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1552,999},{490,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{482,511}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1039,991},{482,511}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{474,509}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1028,1940},{474,509}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-2}</string>
                <key>spriteSize</key>
                <string>{470,503}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1572,1},{470,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{466,497}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,1968},{466,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{470,491}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1572,506},{470,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{514,479}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{523,980},{514,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{480,485}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{996,2882},{480,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{520,485}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,494},{520,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{526,491}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,1},{526,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{520,501}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{529,1},{520,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clownfishlearner_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{510,513}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1,1456},{510,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,519}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1051,1},{500,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clownfishlearner_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{486,519}</string>
                <key>spriteSourceSize</key>
                <string>{538,525}</string>
                <key>textureRect</key>
                <string>{{1051,503},{486,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clownfishlearner_move_0.png</string>
            <key>size</key>
            <string>{2043,3819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a3691a3bb4f6c2ae08aaedb5efc646:abb010b79280e9cce8df804fc294222a:19936f530e990b1e5a8c5ae2c11c7496$</string>
            <key>textureFileName</key>
            <string>clownfishlearner_move_0.png</string>
        </dict>
    </dict>
</plist>
