<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianguangshuimu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,0},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,432},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,432},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,432},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,432},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,432},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,864},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,864},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,864},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,864},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,864},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,0},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,1296},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,1296},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,1296},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,1296},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,1296},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,1728},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,1728},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,1728},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,1728},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,1728},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,0},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,2160},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,2160},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,2160},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,2160},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,2160},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,2592},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,2592},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,2592},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,2592},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,2592},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,0},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,3024},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,3024},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,3024},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,3024},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,3024},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{0,3456},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{700,3456},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{1400,3456},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2100,3456},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,3456},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianguangshuimu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,432}</string>
                <key>spriteSourceSize</key>
                <string>{700,432}</string>
                <key>textureRect</key>
                <string>{{2800,0},{700,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dianguangshuimu_move_0.png</string>
            <key>size</key>
            <string>{3500,3888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ecf209b30b422084c367bdfe0dcfcd4:5afb392a2b92b03e7219b9019d13e51a:7eb62c95fdef26b769e5001151ea414b$</string>
            <key>textureFileName</key>
            <string>dianguangshuimu_move_0.png</string>
        </dict>
    </dict>
</plist>
