<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_halo (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{160,478},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{159,160}</string>
                <key>textureRect</key>
                <string>{{320,478},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{0,638},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{159,160}</string>
                <key>textureRect</key>
                <string>{{160,638},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{319,638},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{0,798},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{158,798},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,160}</string>
                <key>spriteSourceSize</key>
                <string>{156,160}</string>
                <key>textureRect</key>
                <string>{{316,798},{156,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{154,158}</string>
                <key>textureRect</key>
                <string>{{298,0},{154,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,158}</string>
                <key>spriteSourceSize</key>
                <string>{155,158}</string>
                <key>textureRect</key>
                <string>{{143,0},{155,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{158,160}</string>
                <key>textureRect</key>
                <string>{{0,158},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,160}</string>
                <key>spriteSourceSize</key>
                <string>{157,160}</string>
                <key>textureRect</key>
                <string>{{158,158},{157,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{159,160}</string>
                <key>textureRect</key>
                <string>{{315,158},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{0,318},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{159,160}</string>
                <key>textureRect</key>
                <string>{{160,318},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,160}</string>
                <key>spriteSourceSize</key>
                <string>{159,160}</string>
                <key>textureRect</key>
                <string>{{319,318},{159,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_halo (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{0,478},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_halo_0.png</string>
            <key>size</key>
            <string>{479,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d014686cc2e02fd261b49f4a00fb1ef2:4169ff8206cda21a13e33b3d393e7080:7bfa1daca26b0df65855e19dc17ac35c$</string>
            <key>textureFileName</key>
            <string>effect_halo_0.png</string>
        </dict>
    </dict>
</plist>
