<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feather_ (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{0,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{1827,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{2030,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{2233,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{2436,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{2639,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{2842,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{3045,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{3248,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{3451,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{3654,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{203,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{3857,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{406,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{609,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{812,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{1015,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{1218,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{1421,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feather_ (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{203,234}</string>
                <key>textureRect</key>
                <string>{{1624,0},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>feather__0.png</string>
            <key>size</key>
            <string>{4060,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6981393d8e13cd4265702dcce31e4e82:86f56187e6774443d6bcbdf391742c1c:93d2a0c88189e9cf398bdd4761670a5d$</string>
            <key>textureFileName</key>
            <string>feather__0.png</string>
        </dict>
    </dict>
</plist>
