<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>god_move (01).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{563,438}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2439,1},{563,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (02).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{563,440}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1997,1},{563,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (03).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{553,458}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2455,1129},{553,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (04).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{547,470}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2696,1684},{547,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (05).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{543,476}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2151,1696},{543,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (06).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{545,482}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1604,1696},{545,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (07).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{547,488}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{562,1696},{547,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (08).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{555,494}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2879,1},{555,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (09).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,498}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1035,1131},{563,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{563,504}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{529,1131},{563,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{563,512}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{529,566},{563,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,522}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{529,1},{563,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,526}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{563,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,526}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1,566},{563,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,526}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1,1131},{563,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{561,522}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2445,566},{561,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{545,518}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{3375,1},{545,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{517,512}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{3375,548},{517,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{469,508}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2915,1129},{469,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{449,508}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{3245,1639},{449,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{461,504}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{3386,1062},{461,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-2}</string>
                <key>spriteSize</key>
                <string>{491,488}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1111,1696},{491,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{559,490}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1,1696},{559,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>god_move (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{563,496}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1043,566},{563,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{563,492}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1053,1},{563,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{563,482}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1535,1131},{563,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{563,452}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1541,566},{563,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{563,448}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1547,1},{563,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{563,448}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{1995,566},{563,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>god_move (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{563,434}</string>
                <key>spriteSourceSize</key>
                <string>{563,526}</string>
                <key>textureRect</key>
                <string>{{2019,1131},{563,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>god_move_0.png</string>
            <key>size</key>
            <string>{3894,2187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bef775ca8787a8a9670bfa24b03d2562:9adccbad79b9300879ac30145e656dfd:afe6157075e2f49f9ed67e9463424e84$</string>
            <key>textureFileName</key>
            <string>god_move_0.png</string>
        </dict>
    </dict>
</plist>
