<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangjinsharenjing_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,0},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,634},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,951},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,951},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,1268},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,1268},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,1585},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,1585},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,1902},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,1902},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,2219},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,0},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,2219},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,2536},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,2536},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,2853},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,2853},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,317},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{423,317},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinsharenjing_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,317}</string>
                <key>spriteSourceSize</key>
                <string>{423,317}</string>
                <key>textureRect</key>
                <string>{{0,634},{423,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huangjinsharenjing_move_0.png</string>
            <key>size</key>
            <string>{846,3170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a2ffb912e0f941bcefe8e6f6f75b182:98aea2beee38149edb8bfe7e94e2a98a:456d805128e876083e6ca118ae0024ca$</string>
            <key>textureFileName</key>
            <string>huangjinsharenjing_move_0.png</string>
        </dict>
    </dict>
</plist>
