<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangjinhetun_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{0,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1335,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1602,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1869,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2136,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2403,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2670,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2937,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{3204,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{3471,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{3738,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{267,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{0,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{267,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{534,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{801,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1068,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1335,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1602,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1869,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2136,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2403,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{534,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2670,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{2937,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{3204,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{3471,212},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{801,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangjinhetun_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,212}</string>
                <key>spriteSourceSize</key>
                <string>{267,212}</string>
                <key>textureRect</key>
                <string>{{1068,0},{267,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huangjinhetun_move_0.png</string>
            <key>size</key>
            <string>{4005,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0708ec057ab835e0be92e7e10bde31e5:82300fa35ceb435a85762512d832684c:fd7eea4d968bd767981cf5d39e5d4f56$</string>
            <key>textureFileName</key>
            <string>huangjinhetun_move_0.png</string>
        </dict>
    </dict>
</plist>
