<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hutousha_xuanfeng (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{0,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2410,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2892,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{3374,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{0,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{482,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{964,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1446,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1928,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2410,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2892,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{482,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{3374,391},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{0,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{482,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{964,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1446,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1928,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2410,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2892,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{3374,782},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{0,1173},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{964,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{482,1173},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{964,1173},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1446,1173},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1928,1173},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{2410,1173},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1446,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_xuanfeng (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,391}</string>
                <key>spriteSourceSize</key>
                <string>{482,391}</string>
                <key>textureRect</key>
                <string>{{1928,0},{482,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hutousha_xuanfeng_0.png</string>
            <key>size</key>
            <string>{3856,1564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea9e299110b84c1adf9ae625a7e984f:61a09ea4045d5e63ca23fadaa2a973d6:e82123f7764e3469c59fde31527a637e$</string>
            <key>textureFileName</key>
            <string>hutousha_xuanfeng_0.png</string>
        </dict>
    </dict>
</plist>
