<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hutousha_move (183).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{0,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (185).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{518,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (187).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1036,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (189).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1554,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (191).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2072,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (193).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2590,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (195).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{3108,0},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (197).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{0,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (199).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{518,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (201).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1036,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (203).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1554,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (205).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2072,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (207).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2590,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (209).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{3108,302},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (211).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{0,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (213).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{518,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (215).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1036,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (217).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1554,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (219).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2072,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (221).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2590,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (223).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{3108,604},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (225).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{0,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (227).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{518,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (229).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1036,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (231).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1554,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (233).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2072,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (235).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2590,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (237).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{3108,906},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (239).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{0,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (241).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{518,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (243).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1036,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (245).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1554,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (247).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2072,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (249).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2590,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (251).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{3108,1208},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (253).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{0,1510},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (255).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{518,1510},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (257).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1036,1510},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (259).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{1554,1510},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (261).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2072,1510},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hutousha_move (263).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,302}</string>
                <key>spriteSourceSize</key>
                <string>{518,302}</string>
                <key>textureRect</key>
                <string>{{2590,1510},{518,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hutousha_move_1.png</string>
            <key>size</key>
            <string>{3626,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fcbcb72354ecbd18c5773182ec5360e:b242c9e29c949882b591c5572c4783ed:4c3cc69c52a880a40885beb52138fe12$</string>
            <key>textureFileName</key>
            <string>hutousha_move_1.png</string>
        </dict>
    </dict>
</plist>
