<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanternfestival_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1163,383},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,16}</string>
                <key>spriteSize</key>
                <string>{398,498}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1,513},{398,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{420,510}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,68}</string>
                <key>spriteSize</key>
                <string>{336,402}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{803,1},{336,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{284,280}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1505,643},{284,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{304,306}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1499,337},{304,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanternfestival_die (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{326,334}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1499,1},{326,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{340,366}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1163,643},{340,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{356,380}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{1141,1},{356,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{368,424}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{793,461},{368,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{378,458}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{423,1},{378,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanternfestival_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{390,468}</string>
                <key>spriteSourceSize</key>
                <string>{570,538}</string>
                <key>textureRect</key>
                <string>{{401,513},{390,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lanternfestival_die_0.png</string>
            <key>size</key>
            <string>{1826,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb426ea74edb39d1f01a713586c98a1:eb4cda59ea3e1de125f9696b95430daa:6c7eb00c8a17006618e33741757efda7$</string>
            <key>textureFileName</key>
            <string>lanternfestival_die_0.png</string>
        </dict>
    </dict>
</plist>
