<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianji (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,0},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,675},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,675},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{1348,675},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,900},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,900},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{1348,900},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,1125},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,1125},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{1348,1125},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,1350},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,0},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,1350},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{1348,0},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,225},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,225},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{1348,225},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{0,450},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{674,450},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,225}</string>
                <key>spriteSourceSize</key>
                <string>{674,225}</string>
                <key>textureRect</key>
                <string>{{1348,450},{674,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lianji_0.png</string>
            <key>size</key>
            <string>{2022,1575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d7bd3b688237de9b0450342ba8cc36:8f1db375184c4c6e35013a2bf788046a:3bf3d123133912243f5e50544003d6cc$</string>
            <key>textureFileName</key>
            <string>lianji_0.png</string>
        </dict>
    </dict>
</plist>
