<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longxiajiangjun_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (121).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (123).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (125).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (127).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,2989},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (129).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (131).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (133).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (135).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (137).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (139).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (141).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (143).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,3416},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,427},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,854},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,1281},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,1708},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1022,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{1533,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2044,0},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{2555,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3066,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{3577,2135},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{0,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxiajiangjun_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,427}</string>
                <key>spriteSourceSize</key>
                <string>{511,427}</string>
                <key>textureRect</key>
                <string>{{511,2562},{511,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>longxiajiangjun_move_0.png</string>
            <key>size</key>
            <string>{4088,3843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a3ca3aa6db823e2e7400be0096886ee:c9724b372a34d030632f7526fb23ac31:08107c2ad9295b8098d1e74e5761e3f6$</string>
            <key>textureFileName</key>
            <string>longxiajiangjun_move_0.png</string>
        </dict>
    </dict>
</plist>
