<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nianmonster_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{458,244}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{709,3227},{458,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nianmonster_move (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{474,240}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{491,1989},{474,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{478,238}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{491,1749},{478,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,14}</string>
                <key>spriteSize</key>
                <string>{488,236}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,1967},{488,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,13}</string>
                <key>spriteSize</key>
                <string>{496,236}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,1477},{496,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{504,238}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,985},{504,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{510,240}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,493},{510,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{510,242}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,249},{510,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{510,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{508,248}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,735},{508,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{500,250}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,1225},{500,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-4}</string>
                <key>spriteSize</key>
                <string>{460,244}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,2931},{460,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{488,250}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,1715},{488,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-2}</string>
                <key>spriteSize</key>
                <string>{470,252}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{475,2231},{470,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{462,252}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{507,1009},{462,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{460,252}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{511,755},{460,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-5}</string>
                <key>spriteSize</key>
                <string>{460,250}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{465,2729},{460,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-5}</string>
                <key>spriteSize</key>
                <string>{458,252}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{513,1},{458,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-5}</string>
                <key>spriteSize</key>
                <string>{458,248}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{513,255},{458,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{458,248}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{513,505},{458,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{458,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{461,3227},{458,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nianmonster_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-3}</string>
                <key>spriteSize</key>
                <string>{458,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,3427},{458,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-3}</string>
                <key>spriteSize</key>
                <string>{460,244}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{463,2981},{460,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{458,248}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,3177},{458,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-2}</string>
                <key>spriteSize</key>
                <string>{462,242}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,2687},{462,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-1}</string>
                <key>spriteSize</key>
                <string>{466,242}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{473,2485},{466,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{468,240}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{503,1263},{468,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,4}</string>
                <key>spriteSize</key>
                <string>{470,238}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,2447},{470,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,6}</string>
                <key>spriteSize</key>
                <string>{472,240}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{1,2205},{472,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nianmonster_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,6}</string>
                <key>spriteSize</key>
                <string>{472,242}</string>
                <key>spriteSourceSize</key>
                <string>{516,418}</string>
                <key>textureRect</key>
                <string>{{499,1505},{472,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nianmonster_move_0.png</string>
            <key>size</key>
            <string>{972,3686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f4c353720b345f9e73e929f1bf4fe0:285293ca5383b3bc026e63a29654e763:69f4c6e311ea3405eddac30edd2e3111$</string>
            <key>textureFileName</key>
            <string>nianmonster_move_0.png</string>
        </dict>
    </dict>
</plist>
