<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pegasus_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-92}</string>
                <key>spriteSize</key>
                <string>{496,356}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1019,945},{496,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,101}</string>
                <key>spriteSize</key>
                <string>{466,374}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,2411},{466,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,88}</string>
                <key>spriteSize</key>
                <string>{452,344}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1627,1},{452,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,91}</string>
                <key>spriteSize</key>
                <string>{434,334}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{441,2787},{434,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,60}</string>
                <key>spriteSize</key>
                <string>{434,450}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1305,2687},{434,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-11}</string>
                <key>spriteSize</key>
                <string>{442,544}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{553,1},{442,544}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-71}</string>
                <key>spriteSize</key>
                <string>{470,480}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,1525},{470,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-94}</string>
                <key>spriteSize</key>
                <string>{486,354}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{493,1511},{486,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-77}</string>
                <key>spriteSize</key>
                <string>{498,304}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,923},{498,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-48}</string>
                <key>spriteSize</key>
                <string>{490,294}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,1229},{490,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-43}</string>
                <key>spriteSize</key>
                <string>{478,354}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{483,1867},{478,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-75}</string>
                <key>spriteSize</key>
                <string>{500,304}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{517,911},{500,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-29}</string>
                <key>spriteSize</key>
                <string>{462,426}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{877,2655},{462,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-21}</string>
                <key>spriteSize</key>
                <string>{458,486}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1487,1375},{458,486}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{464,526}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{553,445},{464,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,50}</string>
                <key>spriteSize</key>
                <string>{470,514}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,451},{470,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,105}</string>
                <key>spriteSize</key>
                <string>{476,412}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,1997},{476,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,101}</string>
                <key>spriteSize</key>
                <string>{468,376}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1597,905},{468,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,86}</string>
                <key>spriteSize</key>
                <string>{448,344}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1627,455},{448,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,90}</string>
                <key>spriteSize</key>
                <string>{438,334}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,2787},{438,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,61}</string>
                <key>spriteSize</key>
                <string>{436,450}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1433,2249},{436,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-17}</string>
                <key>spriteSize</key>
                <string>{448,550}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,550}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-50}</string>
                <key>spriteSize</key>
                <string>{494,292}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{501,1217},{494,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-80}</string>
                <key>spriteSize</key>
                <string>{468,458}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{963,2125},{468,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-43}</string>
                <key>spriteSize</key>
                <string>{480,354}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{981,1769},{480,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-29}</string>
                <key>spriteSize</key>
                <string>{468,430}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{479,2223},{468,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pegasus_move (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-23}</string>
                <key>spriteSize</key>
                <string>{464,488}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{997,1303},{464,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{466,526}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1099,1},{466,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,48}</string>
                <key>spriteSize</key>
                <string>{474,514}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1081,469},{474,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pegasus_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,105}</string>
                <key>spriteSize</key>
                <string>{474,412}</string>
                <key>spriteSourceSize</key>
                <string>{500,622}</string>
                <key>textureRect</key>
                <string>{{1463,1835},{474,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pegasus_move_0.png</string>
            <key>size</key>
            <string>{1974,3122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64e8719145a943513d4c1c36b166308e:89425c42a2f28240867829ff601750c5:429ae503aa7fc49bd67de6f1569dc744$</string>
            <key>textureFileName</key>
            <string>pegasus_move_0.png</string>
        </dict>
    </dict>
</plist>
