<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phoenix_move (235).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{0,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (237).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{423,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (239).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{846,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (241).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{1269,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (243).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{1692,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (245).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{2115,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (247).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{2538,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (249).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{2961,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (251).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{3384,0},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (253).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{0,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (255).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{423,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (257).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{846,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (259).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{1269,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (261).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{1692,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (263).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{2115,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (265).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{2538,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (267).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{2961,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phoenix_move (269).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,297}</string>
                <key>spriteSourceSize</key>
                <string>{423,297}</string>
                <key>textureRect</key>
                <string>{{3384,297},{423,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phoenix_move_1.png</string>
            <key>size</key>
            <string>{3807,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c29f0a007981d7a0785dcf116cc9ebb:c16fcdfaaa858612f98a2b5902fb0284:67861719d150724cb54f52211e8081e0$</string>
            <key>textureFileName</key>
            <string>phoenix_move_1.png</string>
        </dict>
    </dict>
</plist>
