<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pumpkin (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{188,183}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{195,562},{188,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{190,177}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,1133},{190,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{188,177}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,1680},{188,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{190,177}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{193,1310},{190,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{192,183}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,379},{192,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,187}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{193,938},{190,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{188,181}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{191,1489},{188,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{190,181}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{193,1127},{190,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{188,185}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{195,1},{188,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{190,189}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,564},{190,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{190,189}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{193,747},{190,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{188,185}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{195,188},{188,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{188,185}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{195,375},{188,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{190,189}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,755},{190,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{192,189}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{188,183}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,1312},{188,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{188,179}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{191,1672},{188,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{188,181}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,1497},{188,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{190,185}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,946},{190,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{192,185}</string>
                <key>spriteSourceSize</key>
                <string>{194,191}</string>
                <key>textureRect</key>
                <string>{{1,192},{192,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pumpkin_0.png</string>
            <key>size</key>
            <string>{384,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0319c17bcccffdf25c183409128398b7:4c4935db392bca88744faeaac78ec111:3d3cb7cb11c9bb94164d01a2a01d3005$</string>
            <key>textureFileName</key>
            <string>pumpkin_0.png</string>
        </dict>
    </dict>
</plist>
