<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>screen_fire (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{3438,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{382,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{764,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1146,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1528,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1910,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{2292,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{2674,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{3056,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{382,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{3438,84},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{382,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{764,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1146,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1528,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1910,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{2292,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{2674,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{3056,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{764,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{3438,168},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1146,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1528,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{1910,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{2292,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{2674,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen_fire (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{382,84}</string>
                <key>textureRect</key>
                <string>{{3056,0},{382,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>screen_fire_0.png</string>
            <key>size</key>
            <string>{3820,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aa20f28eec1efddc7d0a469d775a2c4:808d1e413ca20c99086dac20039c809c:a60ef33916d65fabf10cd88492a93f56$</string>
            <key>textureFileName</key>
            <string>screen_fire_0.png</string>
        </dict>
    </dict>
</plist>
