<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuwang_texiao02 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{341,1},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1403,1047},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,292}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2797,1047},{280,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2541,475},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{222,248}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2493,221},{222,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,221},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1131,221},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1265,1},{212,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2281,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{272,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3185,757},{272,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{275,475},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao02 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1375,475},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2903,757},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,292}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3079,1047},{280,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{889,757},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{222,248}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2941,221},{222,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{221,221},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{671,221},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1479,1},{212,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1693,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{272,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1959,1047},{272,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{549,475},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2333,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao03 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{297,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{69,1},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{565,1047},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,292}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2515,1047},{280,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2263,475},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{222,248}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2717,221},{222,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2869,1},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1361,221},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{837,1},{212,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2673,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{272,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3459,757},{272,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{823,475},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2819,475},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao04 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3115,475},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{273,1},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{283,1047},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,292}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3361,1047},{280,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1167,757},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{222,248}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2045,221},{222,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3529,1},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{441,221},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{409,1},{212,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2477,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{272,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{847,1047},{272,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3165,221},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1741,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao05 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1445,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{205,1},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1121,1047},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,292}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2233,1047},{280,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1097,475},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{222,248}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2269,221},{222,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3089,1},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1591,221},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1051,1},{212,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1889,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{272,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1685,1047},{272,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3439,221},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1967,475},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao06 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1671,475},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{137,1},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{280,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,1047},{280,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{280,292}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3643,1047},{280,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{276,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3411,475},{276,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{222,248}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1821,221},{222,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{3309,1},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{901,221},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{623,1},{212,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2085,1},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{272,288}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2629,757},{272,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{1,475},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{593,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuwang_texiao07 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{294,280}</string>
                <key>spriteSourceSize</key>
                <string>{314,316}</string>
                <key>textureRect</key>
                <string>{{2037,757},{294,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish_net.png</string>
            <key>size</key>
            <string>{3924,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd886c6bb2395de2a45a8f2a4835df2c:0cf087581dbd5d81928ef481a1570837:5caec7277d0fc03183e5a1f7da5d75bb$</string>
            <key>textureFileName</key>
            <string>fish_net.png</string>
        </dict>
    </dict>
</plist>
