<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_suoding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{1,1036},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_zidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{82,1036},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{177,877},{71,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{163,1011},{71,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_exit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{708,59}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{190,1},{708,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dengdaiwanjia_ziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,23}</string>
                <key>spriteSourceSize</key>
                <string>{138,25}</string>
                <key>textureRect</key>
                <string>{{1,1011},{138,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_ues_bindcoin_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,57}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ndbdjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{712,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{60,1},{712,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ndjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{712,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{125,1},{712,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nideweizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{232,174}</string>
                <key>spriteSourceSize</key>
                <string>{236,186}</string>
                <key>textureRect</key>
                <string>{{1,723},{232,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>po_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{177,715},{79,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>po_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{177,796},{79,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suodingziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{188,52}</string>
                <key>spriteSourceSize</key>
                <string>{192,58}</string>
                <key>textureRect</key>
                <string>{{1,957},{188,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>language_ind.png</string>
            <key>size</key>
            <string>{250,1113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6836fbcdcddb84e1037c03c6581e186a:61bd72d08e9d0afb27ac8d8e36f806d0:1fe628bb05666646fb5ea447ee00ffa3$</string>
            <key>textureFileName</key>
            <string>language_ind.png</string>
        </dict>
    </dict>
</plist>
