<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_suoding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{119,56},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_zidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{1,112},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{107,1},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{164,1},{53,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_exit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,57}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,356},{720,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dengdaiwanjia_ziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,31}</string>
                <key>spriteSourceSize</key>
                <string>{106,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_ues_bindcoin_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,57}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{60,356},{720,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ndbdjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,59}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{119,356},{720,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ndjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,59}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{180,356},{720,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nideweizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{222,164}</string>
                <key>spriteSourceSize</key>
                <string>{236,186}</string>
                <key>textureRect</key>
                <string>{{1,190},{222,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1,34},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{60,56},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suodingziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,54}</string>
                <key>spriteSourceSize</key>
                <string>{138,54}</string>
                <key>textureRect</key>
                <string>{{82,134},{136,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>language_tc.png</string>
            <key>size</key>
            <string>{240,1077}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb46903f209a1a8371623dd1a0c94104:092fd07aba6ec3854cbc8503c1221cf9:d3859617ff098dba34effbf19a65bd76$</string>
            <key>textureFileName</key>
            <string>language_tc.png</string>
        </dict>
    </dict>
</plist>
