<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_suoding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{764,1},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_zidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{845,1},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{508,1},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{570,1},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown_exit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,83}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,245},{720,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengdaiwanjia_ziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,24}</string>
                <key>spriteSourceSize</key>
                <string>{336,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_ues_bindcoin_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,57}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,56},{720,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ndbdjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{712,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,115},{712,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ndjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{712,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,180},{712,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nideweizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{234,166}</string>
                <key>spriteSourceSize</key>
                <string>{236,186}</string>
                <key>textureRect</key>
                <string>{{723,82},{234,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>po_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{632,1},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{698,1},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suodingziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,40}</string>
                <key>spriteSourceSize</key>
                <string>{167,40}</string>
                <key>textureRect</key>
                <string>{{339,1},{167,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>language_es.png</string>
            <key>size</key>
            <string>{922,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:399e181c178faae4cc07de35fce1e466:5c5c52501392dc7de83a80f51ab5cd03:69aca682d63d8ae53e535a32822ddc79$</string>
            <key>textureFileName</key>
            <string>language_es.png</string>
        </dict>
    </dict>
</plist>
