<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_suoding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{159,961},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_zidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{159,1042},{76,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,47}</string>
                <key>spriteSourceSize</key>
                <string>{102,49}</string>
                <key>textureRect</key>
                <string>{{173,855},{100,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{101,49}</string>
                <key>spriteSourceSize</key>
                <string>{123,49}</string>
                <key>textureRect</key>
                <string>{{200,711},{101,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_exit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{708,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{192,1},{708,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dengdaiwanjia_ziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,25}</string>
                <key>spriteSourceSize</key>
                <string>{138,25}</string>
                <key>textureRect</key>
                <string>{{173,715},{138,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guest_ues_bindcoin_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{720,59}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ndbdjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{712,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{62,1},{712,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ndjbbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{712,63}</string>
                <key>spriteSourceSize</key>
                <string>{720,83}</string>
                <key>textureRect</key>
                <string>{{127,1},{712,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nideweizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{236,170}</string>
                <key>spriteSourceSize</key>
                <string>{236,186}</string>
                <key>textureRect</key>
                <string>{{1,723},{236,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>po_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,47}</string>
                <key>spriteSourceSize</key>
                <string>{128,47}</string>
                <key>textureRect</key>
                <string>{{61,961},{126,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>po_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,47}</string>
                <key>spriteSourceSize</key>
                <string>{128,47}</string>
                <key>textureRect</key>
                <string>{{110,961},{126,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suodingziti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,58}</string>
                <key>spriteSourceSize</key>
                <string>{192,58}</string>
                <key>textureRect</key>
                <string>{{1,961},{158,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>language_mm.png</string>
            <key>size</key>
            <string>{256,1120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de397931da6e4c9af4919e993b317728:efb9b64fceb465909f94eb8e6ec353d5:816d31fd35fbc9c2a900f8be8896daa7$</string>
            <key>textureFileName</key>
            <string>language_mm.png</string>
        </dict>
    </dict>
</plist>
