<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LightningPillar (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,700}</string>
                <key>spriteSourceSize</key>
                <string>{172,700}</string>
                <key>textureRect</key>
                <string>{{1594,1},{172,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,700}</string>
                <key>spriteSourceSize</key>
                <string>{173,700}</string>
                <key>textureRect</key>
                <string>{{1069,1},{173,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,700}</string>
                <key>spriteSourceSize</key>
                <string>{173,700}</string>
                <key>textureRect</key>
                <string>{{1244,1},{173,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,700}</string>
                <key>spriteSourceSize</key>
                <string>{170,700}</string>
                <key>textureRect</key>
                <string>{{2463,1},{170,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,700}</string>
                <key>spriteSourceSize</key>
                <string>{179,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,700}</string>
                <key>spriteSourceSize</key>
                <string>{176,700}</string>
                <key>textureRect</key>
                <string>{{361,1},{176,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,700}</string>
                <key>spriteSourceSize</key>
                <string>{174,700}</string>
                <key>textureRect</key>
                <string>{{717,1},{174,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,700}</string>
                <key>spriteSourceSize</key>
                <string>{171,700}</string>
                <key>textureRect</key>
                <string>{{2290,1},{171,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,700}</string>
                <key>spriteSourceSize</key>
                <string>{173,700}</string>
                <key>textureRect</key>
                <string>{{1419,1},{173,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,700}</string>
                <key>spriteSourceSize</key>
                <string>{172,700}</string>
                <key>textureRect</key>
                <string>{{1768,1},{172,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,700}</string>
                <key>spriteSourceSize</key>
                <string>{170,700}</string>
                <key>textureRect</key>
                <string>{{2635,1},{170,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,700}</string>
                <key>spriteSourceSize</key>
                <string>{177,700}</string>
                <key>textureRect</key>
                <string>{{182,1},{177,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,700}</string>
                <key>spriteSourceSize</key>
                <string>{176,700}</string>
                <key>textureRect</key>
                <string>{{539,1},{176,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,700}</string>
                <key>spriteSourceSize</key>
                <string>{174,700}</string>
                <key>textureRect</key>
                <string>{{893,1},{174,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,700}</string>
                <key>spriteSourceSize</key>
                <string>{172,700}</string>
                <key>textureRect</key>
                <string>{{1942,1},{172,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LightningPillar (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,700}</string>
                <key>spriteSourceSize</key>
                <string>{172,700}</string>
                <key>textureRect</key>
                <string>{{2116,1},{172,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{174,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3415,905},{174,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{182,172}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3243,371},{182,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{172,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3540,725},{172,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{174,182}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3344,187},{174,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{178,176}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3538,545},{178,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{168,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3704,1},{168,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3360,545},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3362,725},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{182,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3520,185},{182,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{182,172}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3186,558},{182,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,184}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{2826,619},{188,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3591,905},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3010,809},{188,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{188,182}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{2826,809},{188,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,184}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{2875,370},{188,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{182,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3520,365},{182,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3061,370},{186,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{180,184}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3338,1},{180,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3235,924},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3520,1},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TargetEffect (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{188,172}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3012,560},{188,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{186,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3158,1},{186,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{180,174}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3186,742},{180,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TargetEffect (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{3158,189},{184,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_background (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{395,381}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{2443,703},{395,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightning_background (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{407,407}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{412,703},{407,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_background (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,409}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{1,703},{407,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightning_background (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,407}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{821,703},{407,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_background (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{407,407}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{1230,703},{407,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_background (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{407,393}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{2048,703},{407,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightning_background (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{407,407}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{1639,703},{407,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_background (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-19}</string>
                <key>spriteSize</key>
                <string>{349,367}</string>
                <key>spriteSourceSize</key>
                <string>{407,409}</string>
                <key>textureRect</key>
                <string>{{2807,1},{349,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_root (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{120,91}</string>
                <key>spriteSourceSize</key>
                <string>{216,129}</string>
                <key>textureRect</key>
                <string>{{3704,181},{120,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_root (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{216,129}</string>
                <key>textureRect</key>
                <string>{{2826,999},{110,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lightning_root (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{132,99}</string>
                <key>spriteSourceSize</key>
                <string>{216,129}</string>
                <key>textureRect</key>
                <string>{{3101,999},{132,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_root (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-8}</string>
                <key>spriteSize</key>
                <string>{170,99}</string>
                <key>spriteSourceSize</key>
                <string>{216,129}</string>
                <key>textureRect</key>
                <string>{{2929,999},{170,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_root_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{2807,370},{247,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_line.png</string>
            <key>size</key>
            <string>{3873,1111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9bdccbb6ba2995ff02ff40545eba41d:68dc4e3e6c051a09fc9a03b112b5461f:8210db142cbe8c59690d547ff4c8e08c$</string>
            <key>textureFileName</key>
            <string>light_line.png</string>
        </dict>
    </dict>
</plist>
