<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OctopusBall_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1,349},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{349,1},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{344,342}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1045,1},{344,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusBall_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{330,336}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1347,687},{330,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusBall_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{342,300}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1705,1},{342,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusBall_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,314}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1,697},{346,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{332,322}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1381,347},{332,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusBall_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{334,338}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1045,347},{334,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{349,349},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{697,1},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{697,349},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{318,328}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{679,697},{318,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusBall_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{336,310}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1009,697},{336,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{314,304}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1389,1},{314,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{320,302}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1705,345},{320,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>OctopusBall_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{320,304}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1685,681},{320,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OctopusBall_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{328,320}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{349,697},{328,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>octopus_ball.png</string>
            <key>size</key>
            <string>{2008,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04cc637ca85c3ef3280d3a040ab42372:4a2060ebf22facd88bb8c3aecdf1e862:6957b4b2cbc12870df2eb25ff2449cce$</string>
            <key>textureFileName</key>
            <string>octopus_ball.png</string>
        </dict>
    </dict>
</plist>
