<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bimuyu_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2520,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2940,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{3360,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,2040},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,2040},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,2040},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,2040},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,2040},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,2040},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2520,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2940,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{3360,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2520,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2940,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{3360,340},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2520,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2940,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{3360,680},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2520,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2940,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{3360,1020},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2100,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2520,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{2940,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{3360,1360},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,0},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{0,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{420,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{840,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1260,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bimuyu_xuanfeng_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,340}</string>
                <key>spriteSourceSize</key>
                <string>{420,340}</string>
                <key>textureRect</key>
                <string>{{1680,1700},{420,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bimuyu_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{3780,2380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c66d7d70a51f0a3d7353d956689c48dd:1f4d1f6db2db114667c93f52a82e0411:2ba850830bf842146823fc8be2b49aba$</string>
            <key>textureFileName</key>
            <string>bimuyu_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
