<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dieyu_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3325},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3325},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3458},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3458},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3591},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,266},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3591},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3724},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3724},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3857},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3857},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,399},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,399},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,532},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,532},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,665},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,665},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,798},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,798},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,931},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,0},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,931},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1064},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1064},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1197},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1197},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1330},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1330},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1463},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1463},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1596},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,133},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1596},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1729},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1729},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1862},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1862},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,1995},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,1995},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2128},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2128},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2261},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,133},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2261},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2394},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2394},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2527},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2527},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2660},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2660},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2793},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2793},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,2926},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,266},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,2926},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3059},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3059},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{0,3192},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dieyu_xuanfeng_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,133}</string>
                <key>spriteSourceSize</key>
                <string>{250,133}</string>
                <key>textureRect</key>
                <string>{{250,3192},{250,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dieyu_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{500,3990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b7bccdaa17a6f3723fc75d282bed3a:bd5fe1e08789eeb8d09cfc498b1f9a71:e6676d95f9a3bec813f4ad1f949a9947$</string>
            <key>textureFileName</key>
            <string>dieyu_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
