<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuyu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,3192},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,3192},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,3458},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,3458},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,3458},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,266},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,3458},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,3724},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,3724},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,3724},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,3724},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,266},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,266},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,532},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,532},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,532},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,532},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,798},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,798},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,798},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,798},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,1064},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,1064},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,1064},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,1064},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,1330},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,1330},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,1330},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,1330},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,1596},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,0},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,1596},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,1596},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,1596},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,1862},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,1862},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,1862},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,1862},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,2128},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,2128},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,2128},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,0},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,2128},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,2394},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,2394},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,2394},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,2394},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,2660},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,2660},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,2660},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,2660},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,2926},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,266},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,2926},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{512,2926},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{768,2926},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{0,3192},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuyu_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,266}</string>
                <key>spriteSourceSize</key>
                <string>{256,266}</string>
                <key>textureRect</key>
                <string>{{256,3192},{256,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fuyu_move_0.png</string>
            <key>size</key>
            <string>{1024,3990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa38f664319c113de7d8092998793a44:eb01e0be8d21c7a8647d6ff6e4d7f7c0:c457f3afa4ebffbf99ea3220a1dcd3be$</string>
            <key>textureFileName</key>
            <string>fuyu_move_0.png</string>
        </dict>
    </dict>
</plist>
