<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianayu_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,256},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,256},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,256},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,256},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,512},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,512},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,512},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,512},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,768},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,768},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,768},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,768},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,1024},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,1024},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,1024},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,1024},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,1280},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,1280},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,1280},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,1280},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{0,1536},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{200,1536},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{400,1536},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,1536},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,1536},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianayu_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,256}</string>
                <key>spriteSourceSize</key>
                <string>{200,256}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jianayu_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{1000,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bc974cef8e4800c790c248244b0ab4:ed32420ae951abe4bd16b3a3a61ed670:7553234d179b9e5baed7ad83c6e853f7$</string>
            <key>textureFileName</key>
            <string>jianayu_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
