<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juchiyu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,575},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,690},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,805},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,920},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1035},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1150},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1265},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1380},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1495},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1610},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,115},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1725},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1840},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,1955},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2070},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2185},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2300},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2415},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2530},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2645},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2760},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,230},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2875},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,2990},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,3105},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,3220},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,3335},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,345},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juchiyu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,115}</string>
                <key>spriteSourceSize</key>
                <string>{300,115}</string>
                <key>textureRect</key>
                <string>{{0,460},{300,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>juchiyu_move_0.png</string>
            <key>size</key>
            <string>{300,3450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b1aa60b922b1c1780ae2d17475fac80:4eb27d75d4c774c3c1b249b46a28f586:bf10b86d15be4b86d5a370c1db205267$</string>
            <key>textureFileName</key>
            <string>juchiyu_move_0.png</string>
        </dict>
    </dict>
</plist>
