<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>judadieyu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,3500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,3500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,3500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,3500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,1000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,1500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,2000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1002,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{1503,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2004,0},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{2505,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3006,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{3507,2500},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{0,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>judadieyu_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,500}</string>
                <key>spriteSourceSize</key>
                <string>{501,500}</string>
                <key>textureRect</key>
                <string>{{501,3000},{501,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>judadieyu_move_0.png</string>
            <key>size</key>
            <string>{4008,4000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fe2764d840c3b739176d642646f0925:fa2bf5b455bdd4bd62d11d616bb0c330:a3bba142a58a152af4aad7858e798a9a$</string>
            <key>textureFileName</key>
            <string>judadieyu_move_0.png</string>
        </dict>
    </dict>
</plist>
