<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lantern_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2900},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2900},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,3016},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,3016},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,3132},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,232},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,3132},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,3248},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,3248},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,3364},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,3364},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,348},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,348},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,464},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,464},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,580},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,580},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,696},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,696},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,812},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,0},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,812},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,928},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,928},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1044},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1044},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1160},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1160},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1276},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1276},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1392},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,116},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1392},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1508},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1508},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1624},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1624},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1740},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1740},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1856},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1856},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,1972},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,116},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,1972},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2088},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2088},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2204},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2204},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2320},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2320},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2436},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2436},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2552},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,232},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2552},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2668},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2668},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{0,2784},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,116}</string>
                <key>textureRect</key>
                <string>{{184,2784},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lantern_move_0.png</string>
            <key>size</key>
            <string>{368,3480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3403a16fa080ac1f89c25e4a23748d4:c07814143e9beacc58dbeaef6f0d94ff:a19a9f12b626d15b81cf78cc66c38feb$</string>
            <key>textureFileName</key>
            <string>lantern_move_0.png</string>
        </dict>
    </dict>
</plist>
