<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longxia_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{0,296},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{400,296},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{800,296},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1200,296},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1600,296},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{0,592},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{400,592},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{800,592},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1200,592},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1600,592},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{0,888},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{400,888},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{800,888},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1200,888},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1600,888},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{0,1184},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{400,1184},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{800,1184},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1200,1184},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1600,1184},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,296}</string>
                <key>spriteSourceSize</key>
                <string>{400,296}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>longxia_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{2000,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ab35aba4b0a0a40b47cb28910e59ca7:3fcced3f3e5cdd93942e21c598765c52:01ee67c277376d1201a1b5775e1770c8$</string>
            <key>textureFileName</key>
            <string>longxia_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
