<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longxia_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{590,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{708,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{826,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{944,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{1062,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{1180,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{1298,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{118,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{236,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{354,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longxia_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{472,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>longxia_die_0.png</string>
            <key>size</key>
            <string>{1416,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37fc6de1fa9632b7847539dcdf9d75e5:7d3ae9eb7bac853cb1c5332ed0a11384:ddca0b2342fd6f00afca345bdbcf3c67$</string>
            <key>textureFileName</key>
            <string>longxia_die_0.png</string>
        </dict>
    </dict>
</plist>
