<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiyu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2500},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2500},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2600},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2600},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2700},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,200},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2700},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2800},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2800},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2900},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2900},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,300},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,300},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,400},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,400},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,500},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,500},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,600},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,600},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,700},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,700},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,800},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,800},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,900},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,900},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1000},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1000},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1100},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1100},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1200},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1200},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1300},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1300},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1400},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1400},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1500},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1500},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1600},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1600},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1700},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,100},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1700},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1800},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1800},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,1900},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,1900},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2000},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2000},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2100},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2100},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2200},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,200},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2200},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2300},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2300},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{0,2400},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,100}</string>
                <key>spriteSourceSize</key>
                <string>{230,100}</string>
                <key>textureRect</key>
                <string>{{230,2400},{230,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qiyu_move_0.png</string>
            <key>size</key>
            <string>{460,3000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b64189a9511cde8d7e3c283d29ecb15a:dc253a76500e3ee461acd8c738a1fcc4:2e74e29c43facf3dd48c1be2e28ce493$</string>
            <key>textureFileName</key>
            <string>qiyu_move_0.png</string>
        </dict>
    </dict>
</plist>
