<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiyu_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1760,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2112,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2464,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2816,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{3168,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{3520,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{0,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{352,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{704,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1056,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{352,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1408,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1760,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2112,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2464,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2816,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{3168,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{3520,124},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{0,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{352,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{704,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{704,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1056,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1408,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1760,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2112,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2464,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2816,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{3168,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{3520,248},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{0,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{352,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1056,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{704,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1056,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1408,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1760,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2112,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{2464,372},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyu_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,124}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1408,0},{352,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qiyu_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{3872,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e434da48e17e1b1cd54ad54a12c231f:55833b76210ea1bb636ac39d15b4b014:2293f65c65f6a59735aff709f3a4341f$</string>
            <key>textureFileName</key>
            <string>qiyu_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
