<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seaturtle_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,0},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,2784},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,2784},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,3016},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,3016},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,3016},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,232},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,3016},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,3248},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,3248},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,3248},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,3248},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,232},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,232},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,464},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,464},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,464},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,464},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,696},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,696},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,696},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,0},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,696},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,928},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,928},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,928},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,928},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,1160},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,1160},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,1160},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,1160},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,1392},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,0},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,1392},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,1392},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,1392},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,1624},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,1624},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,1624},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,1624},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,1856},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,1856},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,1856},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,0},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,1856},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,2088},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,2088},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,2088},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,2088},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,2320},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,2320},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,2320},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,2320},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,2552},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,232},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,2552},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{416,2552},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{624,2552},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{0,2784},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,232}</string>
                <key>spriteSourceSize</key>
                <string>{208,232}</string>
                <key>textureRect</key>
                <string>{{208,2784},{208,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seaturtle_move_0.png</string>
            <key>size</key>
            <string>{832,3480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03f5c23f64829ed83d29998b8e9c236:627f9f2f1208a2259c1011ca5878c744:713fed9db1a5f6ffe4d88185f1513575$</string>
            <key>textureFileName</key>
            <string>seaturtle_move_0.png</string>
        </dict>
    </dict>
</plist>
