<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seaturtle_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,2576},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,2576},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,2576},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,2576},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,322},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,644},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,966},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,1288},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,1610},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{282,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{564,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,0},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{846,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1128,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1410,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{1692,1932},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seaturtle_xuanfeng_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,322}</string>
                <key>spriteSourceSize</key>
                <string>{282,322}</string>
                <key>textureRect</key>
                <string>{{0,2254},{282,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seaturtle_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{1974,2898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62b24002bb010d09da68714570ed674:09a746f5325266471a1d0a5fdfa1f1a6:73b8e7051ed4d5e3bf8d29929361be7f$</string>
            <key>textureFileName</key>
            <string>seaturtle_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
