<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shark_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{0,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{660,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{990,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1320,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1650,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1980,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1650,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2310,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2640,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2970,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3300,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3630,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1980,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2310,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2640,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2970,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3300,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3630,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{0,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{330,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{660,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{330,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{990,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1320,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1650,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1980,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2310,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2640,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2970,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3300,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3630,212},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{0,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{660,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{330,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{660,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{990,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1320,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1650,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1980,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2310,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2640,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2970,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3300,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{990,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3630,424},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{0,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{330,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{660,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{990,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1320,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1650,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1980,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2310,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2640,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{1320,0},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{2970,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3300,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{3630,636},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{0,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shark_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,212}</string>
                <key>spriteSourceSize</key>
                <string>{330,212}</string>
                <key>textureRect</key>
                <string>{{330,848},{330,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shark_move_0.png</string>
            <key>size</key>
            <string>{3960,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e880f5146549f1f20e3a991b1d3950c0:a56ef3a77fb9fd165f0c773043001354:2b704243b2daffd2e88b1577f0068a03$</string>
            <key>textureFileName</key>
            <string>shark_move_0.png</string>
        </dict>
    </dict>
</plist>
