<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaohetun_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (101).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,2150},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (103).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,2150},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (105).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,2236},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (107).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,2236},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (109).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,2322},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,172},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (111).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,2322},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (113).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,2408},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (115).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,2408},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (117).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,2494},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (119).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,2494},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,258},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,258},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,344},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,344},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,430},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,430},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,516},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,516},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,602},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,0},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,602},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,688},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,688},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,774},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,774},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,860},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,860},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,946},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,946},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1032},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,86},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1032},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1118},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1118},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1204},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1204},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (61).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1290},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (63).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1290},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (65).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1376},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (67).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1376},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (69).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1462},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,86},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (71).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1462},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (73).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1548},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (75).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1548},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (77).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1634},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (79).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1634},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1720},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (83).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1720},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (85).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1806},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (87).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1806},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (89).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1892},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,172},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (91).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1892},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (93).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,1978},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (95).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,1978},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (97).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{0,2064},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaohetun_move (99).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{92,2064},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaohetun_move_0.png</string>
            <key>size</key>
            <string>{184,2580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cba8f784e0d23e8e4b7d25cd86d71c1:86d9773176714837233486600abd327e:0a5fee09bf600ae28a053934235fa5e4$</string>
            <key>textureFileName</key>
            <string>xiaohetun_move_0.png</string>
        </dict>
    </dict>
</plist>
