<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoshuimu_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{307,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{2489,1},{307,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{307,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{2489,213},{307,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{312,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{312,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{623,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{623,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{934,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{934,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1245,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{307,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{2798,1},{307,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1245,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1556,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{307,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{2798,213},{307,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1556,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1867,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{1867,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{2178,1},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{309,210}</string>
                <key>spriteSourceSize</key>
                <string>{313,210}</string>
                <key>textureRect</key>
                <string>{{2178,213},{309,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaoshuimu_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{3106,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c1ab765941b9630f4909c74a547b110:351bee3f5e07dc6b47e22c2978a7133c:97de5d411ff09e055e76f4fb753544ad$</string>
            <key>textureFileName</key>
            <string>xiaoshuimu_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
