<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochouyu_xuanfeng_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{192,140},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{384,140},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{576,140},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{768,140},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{192,280},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{384,280},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{576,280},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{768,280},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_xuanfeng_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,140}</string>
                <key>spriteSourceSize</key>
                <string>{192,140}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaochouyu_xuanfeng_move_0.png</string>
            <key>size</key>
            <string>{960,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f8b819cd7c1f64748e7b41e8d41b41:87601f7b5d0b8c2023e8652565beac50:433260775a9aa96fb76c9ce2755b2f43$</string>
            <key>textureFileName</key>
            <string>xiaochouyu_xuanfeng_move_0.png</string>
        </dict>
    </dict>
</plist>
