<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochouyu_die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaochouyu_die (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,192},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaochouyu_die_0.png</string>
            <key>size</key>
            <string>{60,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d6491c1a3be69c285a91c08af894bf:c802bd76d59df17887c13124c242249b:5029a23d0a6fca15a037fd79ad6648f4$</string>
            <key>textureFileName</key>
            <string>xiaochouyu_die_0.png</string>
        </dict>
    </dict>
</plist>
