<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoshuimu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{850,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1020,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1190,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1360,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1530,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1700,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{1870,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{2040,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{2210,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{2380,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{170,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{2550,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{2720,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{2890,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{3060,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{3230,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{3400,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{3570,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{3740,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{340,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{510,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshuimu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,130}</string>
                <key>textureRect</key>
                <string>{{680,0},{170,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaoshuimu_move_0.png</string>
            <key>size</key>
            <string>{3910,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a51310189cab390cffc3e5c6ed71cbf:e03255311b9760c637976d41a39110ad:9633078d6527d079bf35158f65145aff$</string>
            <key>textureFileName</key>
            <string>xiaoshuimu_move_0.png</string>
        </dict>
    </dict>
</plist>
