<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangyu_move (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,140},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,280},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,280},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,420},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,420},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,560},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,560},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,0},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,700},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,700},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,840},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,840},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,840},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,980},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,980},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,980},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,1120},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,0},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,1120},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,1120},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,1260},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,1260},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{284,1260},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangyu_move (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,140}</string>
                <key>textureRect</key>
                <string>{{142,140},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhangyu_move_0.png</string>
            <key>size</key>
            <string>{426,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42eb42abcf5380cbcc654f8bea01a57:5cc16b14a7992c0a8f5de7f7813f573c:c59408cf6848924d4c9c14ec95744149$</string>
            <key>textureFileName</key>
            <string>zhangyu_move_0.png</string>
        </dict>
    </dict>
</plist>
