<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1092,504}</string>
                <key>spriteSourceSize</key>
                <string>{1092,504}</string>
                <key>textureRect</key>
                <string>{{0,571},{1092,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1092,504}</string>
                <key>spriteSourceSize</key>
                <string>{1092,504}</string>
                <key>textureRect</key>
                <string>{{0,1075},{1092,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{938,571}</string>
                <key>spriteSourceSize</key>
                <string>{938,571}</string>
                <key>textureRect</key>
                <string>{{824,0},{938,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,512}</string>
                <key>spriteSourceSize</key>
                <string>{824,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{824,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1762,1579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f62a36df49c59d3fcb0e5d8b30841a8:3d466d5e5fbdc4bcaf56081f4a3cf0f8:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
