<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,59}</string>
                <key>spriteSourceSize</key>
                <string>{84,59}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,59}</string>
                <key>spriteSourceSize</key>
                <string>{84,59}</string>
                <key>textureRect</key>
                <string>{{252,0},{84,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,59}</string>
                <key>spriteSourceSize</key>
                <string>{84,59}</string>
                <key>textureRect</key>
                <string>{{84,0},{84,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,59}</string>
                <key>spriteSourceSize</key>
                <string>{84,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,229}</string>
                <key>spriteSourceSize</key>
                <string>{322,229}</string>
                <key>textureRect</key>
                <string>{{893,125},{322,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,229}</string>
                <key>spriteSourceSize</key>
                <string>{322,229}</string>
                <key>textureRect</key>
                <string>{{1215,125},{322,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,229}</string>
                <key>spriteSourceSize</key>
                <string>{322,229}</string>
                <key>textureRect</key>
                <string>{{1537,125},{322,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,229}</string>
                <key>spriteSourceSize</key>
                <string>{322,229}</string>
                <key>textureRect</key>
                <string>{{0,354},{322,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fg_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,83}</string>
                <key>spriteSourceSize</key>
                <string>{340,83}</string>
                <key>textureRect</key>
                <string>{{336,0},{340,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{982,527}</string>
                <key>spriteSourceSize</key>
                <string>{982,527}</string>
                <key>textureRect</key>
                <string>{{704,354},{982,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>free_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{893,183}</string>
                <key>spriteSourceSize</key>
                <string>{893,183}</string>
                <key>textureRect</key>
                <string>{{0,125},{893,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,125}</string>
                <key>spriteSourceSize</key>
                <string>{193,125}</string>
                <key>textureRect</key>
                <string>{{1062,0},{193,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,125}</string>
                <key>spriteSourceSize</key>
                <string>{193,125}</string>
                <key>textureRect</key>
                <string>{{869,0},{193,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,125}</string>
                <key>spriteSourceSize</key>
                <string>{193,125}</string>
                <key>textureRect</key>
                <string>{{676,0},{193,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_add_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{986,720}</string>
                <key>spriteSourceSize</key>
                <string>{986,720}</string>
                <key>textureRect</key>
                <string>{{839,881},{986,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{839,570}</string>
                <key>spriteSourceSize</key>
                <string>{839,570}</string>
                <key>textureRect</key>
                <string>{{0,881},{839,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop_free_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,384}</string>
                <key>spriteSourceSize</key>
                <string>{382,384}</string>
                <key>textureRect</key>
                <string>{{322,354},{382,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>freeGame.png</string>
            <key>size</key>
            <string>{1859,1601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c978991ea15198f196f2c0e15008168:909f316b6c87aa0957aa2a75d55531fa:0df0e891314ba73fcca6cd9690da8747$</string>
            <key>textureFileName</key>
            <string>freeGame.png</string>
        </dict>
    </dict>
</plist>
