<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ThunderDragonBall (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{126,107}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{150,856},{126,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{122,117}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{387,816},{122,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{230,2027},{114,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,125}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{400,1341},{110,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,133}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{400,1605},{108,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{122,2009},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,139}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{259,1305},{106,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{401,165},{108,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,139}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{259,1683},{106,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{108,135}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{400,1468},{108,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{110,129}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{400,1210},{110,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,111}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{146,1014},{130,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{112,123}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{387,702},{112,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{392,1791},{118,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{126,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{259,845},{126,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{387,935},{132,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{138,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{287,309},{138,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,121}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{164,560},{140,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,125}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1867},{140,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,129}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1725},{140,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,133}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1453},{140,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{136,135}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1588},{136,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{138,115}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{252,1791},{138,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,137}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1314},{140,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{146,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1166},{146,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (32).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{150,143}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1014},{150,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (33).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{156,147}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,856},{156,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (34).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,115}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{408,308},{102,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (35).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{166,153}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,688},{166,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (36).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{162,153}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{355,1},{162,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (37).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{179,1},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (38).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{118,135}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{139,1588},{118,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (39).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,165}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{156,702},{140,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (40).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{118,139}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{132,1725},{118,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (41).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{116,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{168,312},{116,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,168},{178,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (43).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{112,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{287,166},{112,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (44).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{170,165}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,348},{170,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (45).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{166,161}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,520},{166,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (46).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{277,702},{108,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (47).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,141}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{290,449},{108,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (48).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,139}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{400,1069},{110,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (49).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{112,139}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{259,1191},{112,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{1,2009},{142,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (50).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,139}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{259,1073},{116,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (51).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,135}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{143,1468},{118,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (52).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,135}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{280,1413},{118,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (53).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,131}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{280,1550},{118,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (54).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{116,129}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{381,1910},{116,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (55).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{114,125}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{143,1314},{114,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (56).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{346,2028},{108,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (57).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,113}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{144,1166},{108,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (58).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{114,103}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{346,2138},{114,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (59).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{120,103}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{168,455},{120,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{142,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{166,168},{142,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (60).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{259,966},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThunderDragonBall (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,119}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{287,560},{140,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,117}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{128,1867},{136,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ThunderDragonBall (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,117}</string>
                <key>spriteSourceSize</key>
                <string>{240,223}</string>
                <key>textureRect</key>
                <string>{{247,1908},{132,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ThunderDragonBall_0.png</string>
            <key>size</key>
            <string>{511,2242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:045c400aa845d06b474ed38d5ba7ec23:dd0160ca8b14827517c371d57eebd540:5cab852bbccb25de3b17858a87c64777$</string>
            <key>textureFileName</key>
            <string>ThunderDragonBall_0.png</string>
        </dict>
    </dict>
</plist>
