<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/avtar/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,133},{195,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,193}</string>
			</dict>
			<key>common/bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,287},{204,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,128}</string>
			</dict>
			<key>common/bj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,287},{204,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,128}</string>
			</dict>
			<key>common/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,332},{218,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,78}</string>
			</dict>
			<key>common/btn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,636},{122,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,66}</string>
			</dict>
			<key>common/btn_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,414},{218,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,78}</string>
			</dict>
			<key>common/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,457},{218,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,78}</string>
			</dict>
			<key>common/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,496},{218,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,78}</string>
			</dict>
			<key>common/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,794},{98,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,51}</string>
			</dict>
			<key>common/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,706},{161,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,67}</string>
			</dict>
			<key>common/btn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,737},{101,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,56}</string>
			</dict>
			<key>common/btn_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,222},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>common/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,534},{91,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,98}</string>
			</dict>
			<key>common/btn_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,311},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>common/btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,376},{72,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,61}</string>
			</dict>
			<key>common/btn_edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,767},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>common/btn_edit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,794},{54,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,38}</string>
			</dict>
			<key>common/btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,641},{145,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,83}</string>
			</dict>
			<key>common/check_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,166},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>common/check_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,171},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>common/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,325},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>common/coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,797},{69,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,41}</string>
			</dict>
			<key>common/coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{344,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,61}</string>
			</dict>
			<key>common/dollar.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,79},{59,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,83}</string>
			</dict>
			<key>common/fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,777},{133,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,60}</string>
			</dict>
			<key>common/fz.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,441},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>common/gdbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,450},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>common/gh.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,728},{164,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,62}</string>
			</dict>
			<key>common/hdk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,222},{429,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,61}</string>
			</dict>
			<key>common/hdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,419},{389,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{389,61}</string>
			</dict>
			<key>common/hk.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,240},{68,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,67}</string>
			</dict>
			<key>common/icon_first.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,576},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>common/icon_second.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,660},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>common/icon_third.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,737},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>common/icon_toast.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,673},{194,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,60}</string>
			</dict>
			<key>common/input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,821},{404,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,50}</string>
			</dict>
			<key>common/jlflhczfh.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,539},{213,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,67}</string>
			</dict>
			<key>common/jt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,273},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>common/jt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,330},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>common/list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,330},{188,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,123}</string>
			</dict>
			<key>common/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,578},{209,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,59}</string>
			</dict>
			<key>common/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,610},{209,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,59}</string>
			</dict>
			<key>common/percent_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,841},{69,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,36}</string>
			</dict>
			<key>common/setup_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,2},{68,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,73}</string>
			</dict>
			<key>common/sz_xzyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,133},{481,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{481,85}</string>
			</dict>
			<key>common/sz_yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,744},{258,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,63}</string>
			</dict>
			<key>common/tc_shurukuangbeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,484},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>common/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,513},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>common/ty_bt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,549},{334,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,60}</string>
			</dict>
			<key>common/vip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,836},{75,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,38}</string>
			</dict>
			<key>common/vip_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,841},{67,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,38}</string>
			</dict>
			<key>common/viptb.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,489},{83,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,41}</string>
			</dict>
			<key>common/wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,390},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>common/xhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,133},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>common/xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,811},{291,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,2}</string>
			</dict>
			<key>common/xm.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,613},{314,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,61}</string>
			</dict>
			<key>common/xz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,426},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>common/xz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,382},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>common/yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,641},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>common/yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,704},{53,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,59}</string>
			</dict>
			<key>common/bj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,2},{222,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,326}</string>
			</dict>
			<key>common/bjb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{719,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>